extends _html

//- ==============================================================
//- variables for every error page
//- ==============================================================
block append vars
  - layout  = 'core_2/_error'
  - htmlClass.push('_errorpage')
  - topRightNav = false

block meta
  meta(charset=charset)/
  title !{title||'[untitled]'}
  meta(name="description" content!=description||'[undescribed]')/
  include _meta

block append style
  +cssv(assetsUri+'/css/core/errorpage.css')
  style.
    #_body:before { content:'#{layout}';font-size:10px;position:absolute;top:0;left:0;opacity:.3;margin:.3rem .5rem; }
  //- style.

block views
  #_views._views: +view._full_view

    block main
      +main#_main
        block article
          article._article
            h1#_h1 !{heading}
            p#_p !{description}
            nav#_nav: +backlink._btnlink._xl #[span._btnlabel Back]

        block pageData
          if show_pageData
            hr
            +pageData#_pageData

    //- main

//- views