//- ==============================================================
//- Create a License Agreement text file
//- ==============================================================
|
|
.
  Copyright (c) #{thisYear} - !{author}

  SOFTWARE : !{title} - v!{version}
  AUTHOR   : !{author}

  ----------------------------------------------------------------------------
  LICENSE AGREEMENT for !{title}
|
|
include LICENSE.txt