extends ../_templates/text

block append vars
  include _demo-vars
  -
    title = name
    description = 'A solid template for building websites and application'
  //- 
 
block main
  .
    # !{title}
    > !{description}
    ---
    
    Template : !{name}  
    Codename : #{shortName} - v#{version}  
    Author   : !{author}  

    URL      : #{url}  

    ---

    Copyright (c) #{thisYear} !{publisher}