extends _html

block append vars
  - heading = title
  - about   = description
  - updateTitle( `ThemeJs by ${author}` )
  - updateUrl( siteUrl+"index.html" )

  - svgi.print = 'M18,3H6V7H18M19,12A1,1 0 0,1 18,11A1,1 0 0,1 19,10A1,1 0 0,1 20,11A1,1 0 0,1 19,12M16,19H8V14H16M19,8H5A3,3 0 0,0 2,11V17H6V21H18V17H22V11A3,3 0 0,0 19,8Z'; // printer

//- block prepend views
  +pageData#_pageData._page_layout

block nav

block append style
  style.
    #_header ._header_layout { padding: 2rem 3rem; margin-top:0; }
    @media (max-width: 530px) {
    #_header ._header_layout { padding: 3rem 1rem 2rem; }
    }

    #_header ._header_layout { position:relative }
    #_header ._header_layout:before {
      content: 'tjs';
      font-family: serif;
      font-weight: bold;
      font-size: 30rem;
      display: block;
      line-height: 0.7;
      position: absolute;
      top: 0;
      right: 4%;
      opacity: 0.1;
      user-select: none;
    }
    #_main,
    #intro { position:relative; z-index:1 }

    #intro { max-width: 25em; }

    #intro ._hero_1 span { line-height:1 }

    #topi { position: absolute; top: 3.3rem; right: 5rem; }
    #topi ._isvg { height: 2.5em; min-width: 2.5em; }
    @media (max-width: 530px) {
    #topi { top: 1rem; right: 1rem; }
    #topi ._isvg { height: 1.5em; min-width: 1.5em; }
    }
    #topi ._link { padding:.5em }

    html   #_header { background: #ccc; }
    ._dark #_header { background: #111; }

    html   #_header h1 { color: #000; }
    ._dark #_header h1 { color: #fff; }

    #_html .pages ul { list-style-type: none; padding-inline-start: 0; }

    #_html       .download { background-color: #1b36b0; color:#fff; border-color: #3046a8; }
    #_html._dark .download { background-color: #7a8eea; color:#000; border-color: #5f72c5; }
    .download, .viewdemo { min-width: 6em; margin: .5em .3em; }

  //- style.

block header
  //- +pageData._mh
  aside#acelinks
  +header#_header
    #intro
      h1._hero_2 #[span.t1 Theme]#[span.t2._tc_primary Js]
      p._smaller._system by #[+a(authorUrl)(target="page_author")._stay_fresh !{author}]
      p._text_justify !{about}
    #topi._no_print._needjs
      +changeThemeLink._link._nav_icon._hover_scale: +isvg(svgi.compare)

block main
  +main#_main: article

    ._mv._nav_color._radius_x5r._pa_x5r._ph._no_print
      +a('','Get the template')(onclick=onclick())._btnlink.download #[span._btnlabel Download]
      +a('test_theme.html','Go to the test page')._btnlink.viewdemo #[span._btnlabel Test It]

    mixin lia_basic(ref='',title)
      +lia(basicUrl+ref,title)._link: block

    ._flex.pages._mv
      ._f_12_4
        ul._no_margin
          +lia_basic("index.html")| Home Page
          +lia_basic('full_screen.html')| Full Screen
          +lia_basic('split_screen.html')| Split Screen
          +lia_basic('flex_gallery.html')| Flex Gallery
          +lia_basic('classic_page.html')| Classic Page
          +lia_basic('classic_list.html')| Classic List
      //- ._f_12_4
        ul._no_margin
      ._f_12_4
        ul._no_margin
          +lia_basic("coming_soon.html","Quickly setup a page to go live real soon.")._link| Coming soon
          +lia_basic("closed.html","When you decide to temporarily close your website.")._link| Temporary closed
          +lia_basic("404.html","When a browser lands on a missing page.")._link| 404 -- Not found
          +lia_basic("500.html","When your server encounters an error.")._link| 500 -- Oops!
          +lia_basic("blank.html","A blank page to start building.")._link| Blank Page
    //- flex

    hr

    ._flex._gap_2

      ._f_2_1
        section._mb_2
          h2 Available in light and dark and more ..

          p._text_justify This template is readily available in both light and dark color schemes. You can easily switch between the two by using the keyboard shortcut #[code._code._no_wrap='Ctrl + Alt + T']. You may also use a button or a script to programmatically execute #[code._code._no_wrap='base.theme.change()'].

          p._no_print._needjs: +changeThemeLink._btnlink #[+isvg(svgi.compare)] #[span._btnlabel Change Theme]

      ._f_2_1
        section._mb_2
          h2 Good design, even in print
          p._text_justify You will want a website that looks great when printed. This template excel on paper. Enjoy good design and functionality, viewed digitally or in print. Elevate your professionalism with a website that stand out in every medium.

          p._no_print._needjs: +a()(title="Print Page (Ctrl+P)" onclick=onclick(js.print))._btnlink #[+isvg(svgi.print)] #[span._btnlabel Print Page]

    //- flex

    hr

block footer
  +footer#_footer
    ._pa._nav_color._radius_x5r

      ._flex._gap_a
        ._f_fit
          ._smaller._mono
            |#{title} #[br/]
            |Version: #{version} - #[span._no_wrap b#{build}]

        ._f_12_4
          div._smaller._text_justify
            | Some part of this site may come from external sources. Those files #[b._tc_contra may not be included] in the distributed packages of this template due to the original author's terms. References to obtain them directly from the author will be provided.
            //- | #[span._no_wrap &bull; Thanks to] Matt at #[a._no_color(href="https://www.svgbackgrounds.com/set/free-svg-backgrounds-and-patterns/") SVGBackgrounds] for free SVG images.

    hr
    section._p._small
      +_a("LICENSE.txt")(target='basic_license')._link| License
      +_a("README.md")(target='basic_readme')._link| Readme
      +_a("CHANGELOGS.md")(target='basic_changelogs')._link| Changes

    hr
    p._small._system !{copyright}


block append script
  script.
    (function(w){
      if( w.location.hostname === '#{LOCALHOST}' ) {
        if( acelinks ) {
          acelinks.innerHTML = [
            '<div class="_relative _no_print"><div class="_pa _absolute" style="z-index:1;">',
            '<a class="_link _nav_icon" href=".." title="Back to parents page"><i class="_itext"><i class="itext">&larr;</i></i></a> ',
            '</div></div>',
          ].join('');
        }
      }
    })(window);