extends _html

block append vars
  - heading = title
  - about   = description
  - updateTitle( `ThemeJs by ${author}` )
  - updateUrl( siteUrl+"index.html" )

  - svgi.print = 'M18,3H6V7H18M19,12A1,1 0 0,1 18,11A1,1 0 0,1 19,10A1,1 0 0,1 20,11A1,1 0 0,1 19,12M16,19H8V14H16M19,8H5A3,3 0 0,0 2,11V17H6V21H18V17H22V11A3,3 0 0,0 19,8Z'; // printer

//- block prepend views
  +pageData#_pageData._page_layout

block nav

block append style
  style.
    #_header ._header_layout { padding: 3rem 1rem 2rem 1rem; margin-top:0; }
    @media (max-width: 530px) {
    #_header ._header_layout { padding: 3rem 1rem 2rem; }
    }

    #_header ._header_layout { position:relative }
    #_header ._header_layout:before {
      content: 'tjs';
      display: block;
      position: absolute;
      user-select: none;
      opacity: 0.1;
      line-height: 0.7;
      font-family: serif;
      font-weight: bold;
      font-size: 36rem;
      top: -10%;
      right: 6rem;
      letter-spacing: -0.12em;
    }
    #_main,
    #intro { position:relative; z-index:1 }

    #intro ._hero_1 span { line-height:1 }

    #topi { position: absolute; top: 3.3rem; right: 5rem; z-index:1; }
    #topi ._isvg { height: 2.5em; min-width: 2.5em; }
    @media (max-width: 530px) {
    #topi { top: 1rem; right: 1rem; }
    #topi ._isvg { height: 1.5em; min-width: 1.5em; }
    }
    #topi ._link { padding:.5em }

    html   #_header { background: #ccc; }
    ._dark #_header { background: #111; }

    html   #_header h1 { color: #000; }
    ._dark #_header h1 { color: #fff; }

    #heading { font-size: 2.8em; }
    #intro   { max-width: 32em; }
    #about {
      font-size: 1.6em;
      margin-top: -0.6em;
      margin-bottom: 3em;
      text-align: left;
    }
    #author {
      position: absolute;
      bottom: -6em;
      right: 2em;
    }

    #_html.pink .download { background-color: #ff4b6a; color:#fff; border-color:#ff2c4f; font-size: 1.3em; }
    .pink  #_header { background: #ff4b6a; color:#ffd0db; }
    .pink  #_header h1 { color: #5e101d; }
    .pink  #_header ._tc_primary { color: #fff; }
    .pink #_header ._header_layout:before { color:#fff }
    .pink #acelinks ._link { color: #fff; }
    .pink #heading { font-size: 3em; }
    .pink #cta {
      margin:0 -1rem;
      background-color:#ffc0cb;color: #7c3944;
      position: relative;
      top: -1.5rem;
    }
    .pink #_header ._header_layout:before {
      text-shadow: -0.015em 0 #840c20;
    }
    .pink #cta { border-radius: 1.7rem; }
    .pink ._btnlink { border-radius: 3rem; }

    #_html.light .download { background-color: #231a0f; color:#fff; border-color:#231a0f; }
    .light  #_header { background: #dfd1be; color:#645d58; }
    .light  #_header ._tc_primary { color: #645d58; }

    #_html .pages ul { list-style-type: none; padding-inline-start: 0; }

    #_html       .download { background-color: #1b36b0; color:#fff; border-color: #3046a8; }
    #_html._dark .download { background-color: #7a8eea; color:#000; border-color: #5f72c5; }
    .download, .viewdemo { min-width: 6em; margin: .3em; }

    @media (max-width: 425px) {
      #cta { text-align:center; }
      .pink #about {
        font-size: 1.1em;
        margin-top: -0.6rem;
        margin-bottom: 5rem;
      }
    }

  //- style.

block header
  //- +pageData._mh
  aside#acelinks
  +header#_header
    #intro._relative
      h1#heading._hero_2 #[span.t1 Theme]#[span.t2._tc_primary Js]
      p#author._smaller._system by #[+a(authorUrl)(target="page_author")._stay_fresh !{author}]
      p#about._text_justify !{about}
    #topi._no_print._needjs
      +changeThemeLink._link._nav_icon._hover_scale: +isvg(svgi.compare)

block main
  +main#_main: article

    #cta._mv._nav_color._radius_x5r._pa_x5r._ph._no_print
      +a(authorUrl,'Get the template')(target='page_download')._btnlink.download #[span._btnlabel Download]
      +a('test_theme.html','Go to the test page')._btnlink.viewdemo #[span._btnlabel Test It]

    //- mixin lia_basic(ref='',title)
      +lia(basicUrl+ref,title)._link: block

    //- ._flex.pages._mv
      ._f_12_4
        ul._no_margin
          +lia_basic("index.html")| Home Page
      //- ._f_12_4
        ul._no_margin
      ._f_12_4
        ul._no_margin
          +lia_basic("blank.html","A blank page to start building.")._link| Blank Page
    //- flex

    hr

    ._flex._gap_2

      ._f_12: section._mb_2
        h2._h2 Open new possibilities with ThemeJs

        p._text_justify #[b ThemeJs] is a lightweight, easy-to-use, and highly configurable theme switcher plugin for your website and web application. Built with the user experience in mind, it is designed to be simple, easy to use, with no external dependencies.  It is a perfect solution for those who want to give their users the ability to switch between different themes on their website. ThemeJs is fully customizable, compatible with all major browsers and devices, and can be easily integrated into any website and web application. 

    ._flex._gap_2

      ._f_12_7

        section._mb_2
          h2._h2 Available in light, dark and more ..

          p._text_justify ThemeJs registers a global #[code._code._no_wrap='theme'] interface for its functions, automatically detect user's preferences and register appropriate listeners. With a simple use of #[code._code._no_wrap='theme.set()'] and #[code._code._no_wrap='theme.change()'], you can create an interface that offers users the ability to switch between different themes.

          ._p._no_print._needjs._small
            +_a()(onclick=onclick("theme.set(['_dark'],'');"))._btnlink Light
            +_a()(onclick=onclick("theme.set(['_dark']);"))._btnlink Dark
            +_a()(onclick=onclick("theme.set(['light','_dark']);"))._btnlink Sephia
            +_a()(onclick=onclick("theme.set(['pink','_dark']);"))._btnlink Pink

        section._mb_2
          p._text_justify This demo is readily available in both light and dark theme, as well as other configurable themes in the menu. You can easily switch through them by using the keyboard shortcut #[code._code._no_wrap='Ctrl + Alt + T'] or by clicking a button.

          ._p._no_print._needjs._small
            +changeThemeLink._btnlink #[+isvg(svgi.compare)] #[span._btnlabel Change Theme]

      ._f_12_5: section._mb_2
        h2._h2 OS aware
        
        p._text_justify ThemeJs automatically identifies user's operating system preferences and adapts automatically. This feature can be seen in this demo. You can test it by changing your operating system theme preference.


    //- flex

    hr

block footer
  +footer#_footer
    ._pa._nav_color._radius_x5r

      ._flex._gap_a._gap_h_2
        ._f_fit
          ._smaller._mono
            |#{title} #[br/]
            |Version: #{version} - #[span._no_wrap b#{build}]

        //- ._f_12_4
          //- div._smaller._text_justify
            | Some part of this site may come from external sources. Those files #[b._tc_contra may not be included] in the distributed packages of this template due to the original author's terms. References to obtain them directly from the author will be provided.
            //- | #[span._no_wrap &bull; Thanks to] Matt at #[a._no_color(href="https://www.svgbackgrounds.com/set/free-svg-backgrounds-and-patterns/") SVGBackgrounds] for free SVG images.

    hr
    section._p._small
      +_a("LICENSE.txt")(target='basic_license')._link| License
      +_a("README.md")(target='basic_readme')._link| Readme
      +_a("CHANGELOGS.md")(target='basic_changelogs')._link| Changes

    hr
    p._small._system !{copyright}


block append script
  script.
    (function(w){
      if( w.location.hostname === '#{LOCALHOST}' ) {
        if( acelinks ) {
          acelinks.innerHTML = [
            '<div class="_relative _no_print"><div class="_pa _absolute" style="z-index:1;">',
            '<a class="_link _nav_icon _tc_contra" href=".." title="Go to parent\'s page"><i class="_itext"><i class="itext">&times;</i></i></a>',
            '</div></div>',
          ].join('');
        }
      }
    })(window);