//- ==============================================================
//- README for ThemeJs
//- ==============================================================
extends _text

block main
  .
    # !{title}
    > !{description}
    ------------------------------------------------------------------
    
    Title    : !{title}  
    Version  : #{version}  
    Build    : #{build}  
    Author   : !{author}  

    WEBSITE  : #{siteUrl}  

    AUTHOR   : #{authorUrl}  

    ------------------------------------------------------------------

    Give your visitors a theme they like to use, and they will stay on
    your site much longer.

    Add a web plugin to toggle through multiple themes.  In a click or
    a tap on a keyboard,  user can switch between themes by clicking a
    button or using the keyboard shortcut `Ctrl + Alt + T`.

    Programmatically execute #{'`theme.change()`'} or #{'`theme.set()`'}
    to create a variety of options for your visitors.
    
    User preferences are stored locally. It will stay through refresh,
    closing or reloading of the page.

    This plugin is coded fresh and compiled to ECMAScript 6 (ES6) 2015
    Standard,  without any dependency to other scripts. The plugin are
    kept neatly within scope and easily accessible using an interface.

    ------------------------------------------------------------------

    Copyright (c) #{thisYear} !{author}

//- Create a page that meet user's preferences with minimal effort.
//- Give your visitors a pleasant experience that keeps your visitors on your site longer.
//- ThemeJs should be the lifetime companion on your site.
//- Give your visitors a theme that meet every user preferences. Enable
    this plugin, you can
//- It's a simple one-click switch!
//- If your OS supports it, it will seamlessly switch to dark mode. How convenient is that?
//- create an eye-catching and appealing website, you can customize the color of your background, text, hover color, links, border color, input colors etc. as you desire.
//- Why darkmode? According to data, 81.9% of people of smartphone users use dark mode. Another 82.7% of survey respondents claim to use dark mode with the OS. More data shows that 64.6% of people expect websites to apply dark mode automatically. The adoption rates for dark mode and are between 55% and 70% among Apple iOS users.
//- would be the best investment for your website to keep them for more time in your site and give them the comfortable accessibility option they need.
