extends _html

block append vars
  - heading = `Testing AceJs Theme`
  - updateTitle( `${heading}` )
  - updateDescription( `Test page.` )
  - updateUrl( siteUrl+"test_ace_thm.html" )

block style
  +htmlPreset
  style.
    ._hidden { display:none }
    ._inline { display:inline }
    ._small  { font-size:.9em }
    ._mono   { font-family: 'Consolas',monospace; }
    ._pre    {  }
    ._scrollable { overflow:auto; }
    ._m0 { margin:0 }

    .nav .icon { text-align:center }
    .nav ._link {
      text-decoration: none;
      padding:.1em .3em;
      border-radius: .2em;
      display:inline-block;
      min-width: 0.801em;
      line-height: 1.2;
      font-weight: bold;
      color:inherit;
    }
    .nav ._link:hover { outline: 2px solid #888; }

    #jso {
      height:30em;
      background-color: #ccc;
      color: #222;
      border-radius: .5rem;
      box-shadow: 0 0 10px #888 inset;
    }

    ._dark #jso {
      background-color: #181818;
      color: #aaa;
      box-shadow: 0 0 10px #080808 inset;
    }

    #jsout { padding:.5rem; margin:0; }
    #jsout * { line-height:1; }

    #jsout hr { border-color:#333; border-bottom:0; }

    .h { color:#000 }
    @media (prefers-color-scheme: dark) {
      .h { color:#fff }
    }

    #_html.pink { background-color: pink; }
    #_html.light { background-color: antiquewhite; }

  //- style.

  +cssv(assetsUrl+'gcss/ace.css')
  +cssv(assetsUrl+'gcss/scrollbar.css')
  //- +cssv(assetsUrl+'gcss/style.css')

block nav

block header

block main
  +main#_main: article

    //- ☀
    section.nav._p
      ._inline._mono
        +backlink._link.icon|&larr;
        +_a(themejsUrl,"Back to ThemeJs home page")._link| ThemeJs
        +_a()(onclick=onclick('theme.change();') title="Change Theme (Ctrl+Alt+T)")._link.icon|&bull;
      ._inline._mono._small
        b: span#jstest(style="color:red;")='[JS:OF]'
    hr

    section.nav._small
      ._inline._mono
        +_a()(onclick=onclick('test.clear();') title="Clear Test")._link.icon|Clear
        +_a()(onclick=onclick('test.run();') title="Run Test")._link.icon|Run &raquo;
        +_
        +a()(onclick=onclick('test.run_check();') title="Run Check")._link.icon|Check
        +_
        +a()(onclick=onclick('test.run_set();') title="Theme Set")._link.icon|Set
        +a()(onclick=onclick('test.run_set(1);') title="Theme Set 1")._link.icon|1
        +a()(onclick=onclick('test.run_set(2);') title="Theme Set 2")._link.icon|2
        +a()(onclick=onclick('test.run_set(3);') title="Theme Set 3")._link.icon|3
        +a()(onclick=onclick('storage.resetTheme();') title="Theme Remove")._link.icon|RT
        +_
        +a()(onclick=onclick('test.run_change();') title="Theme Change")._link.icon|Change
        +_
        +a()(onclick=onclick('test.run_updateClass();') title="Run updateClass")._link.icon|updateClass

        +_a()(onclick=onclick('storage.set();') title="Storage Set")._link.icon|Set
        +_a()(onclick=onclick('storage.get();') title="Storage Get")._link.icon|Get
        +_a()(onclick=onclick('storage.remove();') title="Storage Remove")._link.icon|Remove
    hr

    section
      h1._h7.h._small._mono !{heading}
      #jso._mono._scrollable._full_width._text_left
        pre#jsout._smaller

    section._hidden
      #element

  //- +main#_main: article

block script
  //- +jsv(src)
  +jsv('/ace/assets/gjs/theme.min.js')(defer)
  +jsv('/ace/assets/gjs/test_theme.js')(defer)

  script.
    (function(){

      var jstest = document.getElementById('jstest');
      jstest && (jstest.setAttribute('style','color:green;'),jstest.innerHTML = '[JS:OK]');

      // Automatically scroll to the bottom of the page when the page loads
      var jso = document.getElementById('jso');
      window.onload = function() { test.run(); };

    })();