//- ==============================================================
//- README for Ace Builder Website
//- ==============================================================
extends _text

block document
  .
    # !{title}
    > !{description}
    ------------------------------------------------------------------
    
    Title     : !{title}  
    Version   : #{version}  
    Build     : #{build}  
    Author    : !{author}  
    Publisher : !{publisher}  

    WEBSITE   : #{siteUrl}  

    SOURCE    : #{sourceUrl}  

    AUTHOR    : #{authorUrl}  

    ------------------------------------------------------------------

    Copyright (c) #{thisYear} !{publisher}