extends _html

block append vars
  - filename = 'index.html'
  - heading  = name+'&trade;'
  - about    = 'Menus Made Easy, Choices Made Delicious!'

block pageHeader
  +defaultHeader

block pageFooter
  ._pageFooter._defaultFooter
    hr
    p._small._system: +a(homeUri)._link._l &copy; !{copyright}

block main
  +main#_main
    article._article#menu
    article._article#main

      section#menuLocator: form._p(onsubmit="event.preventDefault();menu.find();")
        h3.title._no_wrap| Open your menu
        .input._color_1._radius_x5r._flex
          input#menuLocation.input-txt._radius_x5r(type='text' placeholder="Enter the menu location ...")
          button(onclick="findMenu()" title="Find menu").submit._btnlink|&#128269;
        #menuLocatorMessage.message._tc_red._p._small

      section#intro._flex._gap_a_2

        //- ------------------------------------------------------
        ._f(style="flex:1 12 310px;max-width:400px"): ._p
          h2._b._t1._i._p._mb_2| What is it about?
          ._text_justifyx
            p: strong| Effortless Online Menus for Businesses
            p.
              #{name} simplifies menu creation, helping businesses craft
              a sleek, professional, online menus within minutes.
            p.
              Suitable for business of all kind. Cafes, bakery, restaurants, shops, services and more.
            p.
              No coding or design skills required.
              Configure some preferences and you are ready to go!

        //- ------------------------------------------------------
        ._f#suggestions: ._p
          h2._b._t1._i._p._mb_2| Menu Suggestions
          -
            let _demolinks = [
              ['localhost/ace/easymenu', '(Demo 01)', '&#128020; Yer Brand! - Restaurant Menu.'],
              ['localhost/ace/easymenu/menu_A', '(Demo 02)', '&#129412; Unique Brand! - Store Menu.'],
              ['localhost/ace/easymenu/menu_C', '(Demo 03)', 'A simple menu.'],
            ];
          each menu in _demolinks
            .item
              div: +a(homeUri+menu[0])._no_u|#[span._tc_contra._b #{menu[1]||''}] #[u._smaller #{menu[0]}]
              p._small._mt0|!{menu[2]}

        //- ------------------------------------------------------
        ._f(style="flex:1 12 275px;max-width:400px"): ._p
          h2._b._i._p._t1._mb_2| How does it works?
          ._text_justifyx
            p.
              #{name} transforms a set of data,
              and turned it into a beautiful menu.
            p.
              Simply #[a(href=homeUri+'build') setup an entry point] for your menu,
              
              then use #{name} to access it.
            p.
              See examples :
              #[a(href=homeUri+"settings" target="menu_settings") settings],
              #[a(href=homeUri+"menuItems" target="menu_menuItems") menuItems].
            p.
              #[a(href=homeUri+'docs') Find out more] ways to interact with #{name}.

      ._pa._mv_2

mixin template
  script(type="text/x-handlebars-template")&attributes(attributes): block

block append script

  +template#header-template
    style.
      #_body {
        border-top-color: {{primary-color.value}};
        border-bottom-color: {{secondary-color.value}};
      }
      #_header { background-color: #EEEEEE }
      ._dark #_header { background-color: #282828 }
      #_header .logo {
        color: {{header-primary-color.value}};
        text-shadow: 4px 4px 0px {{header-secondary-color.value}}, 5px 5px 8px #0006;
      }
    //- style.
    ._header_layout
      .header.row.text-center: .col-md-6.offset-md-3.mb-4._no_overflow
        h1.logo
          span.headerA|{{safe header-a.value}}
          br
          span.headerB|{{safe header-b.value}}
        p._tc_contra|{{safe description.value}}
      ._color_1._pa._text_center(style="margin:0 -1rem")
        p|{{safe about.value}}

  +template#menu-template
    .row
      |{{#each this as |category|}}
      .
        <div class="col-md-6 _mv">
          <div class="category">
            <h3 class="mb-4 mt-2">{{@key}}</h3>
            <ul class="list-unstyled">
              {{#each this as |item|}}
                <li class="item d-flex align-items-center mb-3">
                  <div class="name">{{item.item}}</div>
                  {{#if item.isVegetarian}}
                    <div class="v">V</div>
                  {{/if}}
                  <div class="price ml-auto">&dollar;{{item.price}}</div>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      |{{/each}}


block prepend style
  +css("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")(integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous")

block append script
  +js('https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js')
  +js('https://cdn.jsdelivr.net/npm/underscore@1.11.0/underscore-min.js')
  +js(assetsUri+'js/easymenu/main.js')

block append style
  +css("https://fonts.googleapis.com/css2?family=Pacifico&display=swap")
  +cssv(assetsUri+'css/easymenu/html.css')#_html_style
  +cssv(assetsUri+'css/easymenu/menu.css')#_menu_style
