extends _html

block append vars
  include _vars_2
  - filename = 'index.html'
  - heading  = name+'&trade;'
  - about    = description

block append style
  style.
    ._pageHeader { margin-top: 2rem }
    #_heading { font-size: 3em }
    @media (min-width: 760px) {
      ._pageHeader { margin-top: 0 }
      #_heading { font-size: 5em }
    }
  //- style.

block topRightNav_content
  +topThemeSwitch

block pageHeader
  ._pageHeader._defaultHeader._text_center
    ._pv: +heading#_heading._h7._inblock._m0|#{name}#[sup._smallest|&trade;]
    hr

block main
  +main#_main
    article._article#main

      section#hero._text_center._color_1._pa: ._hero_1._b._tc_contra| !{about}

      hr

      ._pa

      section#intro._flex._gap_a_2

        //- ------------------------------------------------------
        ._f_2_1: ._p
          h2._b._t1._i._p._mb_2| What is it about?
          ._text_justifyx
            p.
              #[strong #{name}&trade;] simplifies menu creation, enabling businesses to craft
              sleek, professional online menus in minutes,
              with no coding or design required.
            p.
              Suitable for businesses of all kinds &mdash; cafes, bakeries,
              restaurants, shops, service providers, and more.
              Simply configure your preferences, and you're ready to go!

        //- ------------------------------------------------------
        ._f_2_1: ._p
          h2._b._i._p._t1._mb_2| How does it works?
          ._text_justifyx
            p.
              1. #[a(href=homeUri+'create') Create a menu] using the tools provided.
            p.
              2. #[a(href=homeUri+'open') Open the menu] with #{name}.
            p.
              3. Share the menu with your friends.
            p.
              Enjoy!
            //- 
              Explore details in the #[a(href=homeUri+'docs') documents].
            //- p.
              Check out these examples: 
              #[a._i._small(href=homeUri+"settings" target="menu_settings") settings],
              #[a._i._small(href=homeUri+"menuItems" target="menu_menuItems") menuItems].

      ._pa

      section#cta: +nav._text_center
        +a('open')._btnlink._xl.__primary._ma_x5r| Open Menu
        +a('create')._btnlink._xl._ma_x5r| Create Menu

      ._pa

      //- hr
      //- section: +pageData

      hr
      section#footer._text_center._small
        +_a(homeUri+'README.md')._link._l| Read me
        +_a(homeUri+'LICENSE.txt')._link._l| License

block append style
  +cssv(assetsUri+'css/easymenu/html.css')#_html_style
