//- ==============================================================
//- LICENSE for Ace Builder Website
//- ==============================================================
include ../../core_2/_vars
include _vars
include _vars_2
|
.
  ----------------------------------------------------------------------------
  (c) Copyright #{thisYear} - !{author} - All rights reserved.
  ----------------------------------------------------------------------------

  SOFTWARE : !{title} - v!{version}
  AUTHOR   : !{author}
|
|
|
include LICENSE.txt