//- ==============================================================
//- README for Ace Builder Website
//- ==============================================================
include ../../core_2/_vars
include _vars
include _vars_2
.
  # !{title}
  > !{description}
  ------------------------------------------------------------------
  
  Title     : !{title}  
  Version   : #{version}  
  Build     : #{build}  
  Author    : !{author}  
  Publisher : !{publisher}  

  WEBSITE   : #{siteUrl}  

  AUTHOR    : #{authorUrl}  

  ------------------------------------------------------------------

  ## Effortless Online Menus for Businesses

  #{name} simplifies menu creation, helping businesses craft a
  sleek, professional, online menus within minutes.

  Suitable for business of all kind. Cafes, bakery, restaurants,
  shops, services and more.

  No coding or design skills required.
  Configure some preferences and you are ready to go!
  
  ------------------------------------------------------------------

  Copyright (c) #{thisYear} - !{author}