//- ==============================================================
//- README for Ace Builder Website
//- ==============================================================
include ../../core_2/_vars
include _vars
include _vars_2
.
  # !{title}
  > !{description}
  ------------------------------------------------------------------
  
  Title     : !{title}  
  Version   : #{version}  
  Build     : #{build}  
  Author    : !{author}  
  Publisher : !{publisher}  

  WEBSITE   : #{siteUrl}  

  AUTHOR    : #{authorUrl}  

  ------------------------------------------------------------------

  ## Effortless Online Menus for Businesses

  #{name} simplifies menu creation, enabling businesses
  to craft sleek, professional online menus in minutes.
  No coding or design skills required.

  Suitable for businesses of all kinds — cafes, bakeries,
  restaurants, shops, service providers, and more.
  Just configure your preferences, and you're ready to go!
  
  ------------------------------------------------------------------

  Copyright (c) #{thisYear} - !{author}