extends _html

block append vars
  - heading = `Basic Template`
  - about   = `A versatile template with a clean layout.`
  - updateTitle( `Basic Template by ${author}` )
  - updateDescription( `${about}` )
  - updateUrl( siteUrl+"index.html" )

//- block prepend views
  //- +pageData#_pageData._page_layout


block nav

block append style
  style.
    #_header ._header_layout { padding: 2rem 3rem; margin-top:0; }
    @media (max-width: 530px) {
    #_header ._header_layout { padding: 3rem 1rem 2rem; }
    }

    #_header ._header_layout { position:relative }
    #_header ._header_layout:before {
      content: 'Bt';
      font-family: serif;
      font-weight: bold;
      font-size: 30rem;
      display: block;
      line-height: 0.7;
      position: absolute;
      top: 0;
      right: 4%;
      opacity: 0.1;
      user-select: none;
    }
    #_main,
    #intro { position:relative; z-index:1 }

    #intro { max-width: 25em; }

    #intro ._hero_1 span { line-height:1 }

    #topi { position: absolute; top: 3.3rem; right: 5rem; }
    #topi ._isvg { height: 2.5em; min-width: 2.5em; }
    @media (max-width: 530px) {
    #topi { top: 1rem; right: 1rem; }
    #topi ._isvg { height: 1.5em; min-width: 1.5em; }
    }
    #topi ._link { padding:.5em }

    html   #_header { background: #ccc; }
    ._dark #_header { background: #111; }

    html   #_header h1 { color: #000; }
    ._dark #_header h1 { color: #fff; }

    #_html .pages ul { list-style-type: none; padding-inline-start: 0; }

    #_html       .download { background-color: #1b36b0; color:#fff; border-color: #3046a8; }
    #_html._dark .download { background-color: #7a8eea; color:#000; border-color: #5f72c5; }
    .download, .viewdemo { min-width: 6em; margin: .5em .3em; }

  //- style.

block header
  //- +pageData._mh
  aside#acelinks
  +header#_header
    #intro
      h1._hero_2 #[span.t1 Basic] #[span.t2._tc_primary Template]
      p._smaller._system by #[+a(authorUrl)(target="page_author")._stay_fresh !{author}]
      p._text_justify !{about}
    #topi._no_print._needjs
      +changeThemeLink._link._nav_icon._hover_scale: +isvg(svgi.compare)

block main
  +main#_main: article

    mixin lia_basic(ref='',title)
      +lia(basicUrl+ref,title)._link: block

    ._flex.pages._mv
      ._f_12_4
        ul._no_margin
          +lia_basic("index.html")| Home Page
          +lia_basic('full_screen.html')| Full Screen
          +lia_basic('split_screen.html')| Split Screen
          +lia_basic('flex_gallery.html')| Flex Gallery
          +lia_basic('classic_page.html')| Classic Page
          +lia_basic('classic_list.html')| Classic List
      //- ._f_12_4
        ul._no_margin
      ._f_12_4
        ul._no_margin
          +lia_basic("coming_soon.html","Quickly setup a page to go live real soon.")._link| Coming soon
          +lia_basic("closed.html","When you decide to temporarily close your website.")._link| Temporary closed
          +lia_basic("404.html","When a browser lands on a missing page.")._link| 404 -- Not found
          +lia_basic("500.html","When your server encounters an error.")._link| 500 -- Oops!
          +lia_basic("blank.html","A blank page to start building.")._link| Blank Page
    //- flex

block append script
  script.
    (function(w){
      if( w.location.hostname === '#{LOCALHOST}' ) {
        if( acelinks ) {
          acelinks.innerHTML = [
            '<div class="_relative"><div class="_pa _absolute" style="z-index:1;">',
            '<a class="_link _nav_icon" href=".." title="Back to Ace Template"><i class="_itext"><i class="itext">&larr;</i></i></a> ',
            '</div></div>',
          ].join('');
        }
      }
    })(window);