//- ==============================================================
//- README for Basic Template
//- ==============================================================
extends _text

block main
  .
    # !{title}
    > !{description}
    ----------------------------------------------------------------------------
    
    Title    : !{title}  
    Version  : #{version}  
    Build    : #{build}  
    Author   : !{author}  

    WEBSITE  : #{siteUrl+'intro.html'}  

    AUTHOR   : #{authorUrl}  

    ----------------------------------------------------------------------------

    Copyright (c) #{thisYear} !{author}