extends ../_html

block append vars
  include ../_vars_2
  - siteUrl += 'dev/'
  - filename = 'index.html'
  - heading  = 'Dev | '+name+'&trade;'
  - about    = 'Developer Notes'

//- block append style
  style.
  //- style.

block pageFooter
  ._pageFooter._defaultFooter
    hr
    p._small._system: +a(homeUri)._link._l &copy; !{copyright}

mixin template
  script(type="text/x-handlebars-template")&attributes(attributes): block

block main
  +main#_main: article._article
    //- +pageData
    //- test links
    ._flex._gap_a_2
      ._f(style="max-width:400px")
        -
          _links = [
            ['localhost/ace/easymenu', 'Demo 01', '&#128020; Your Brand! - Restaurant Menu. This menu is at the root of the site. Serves as the main demo.'],
            ['?p=localhost/ace/easymenu', '', 'Another route to the same menu.'],
            ['localhost/ace/easymenu/menu_A', 'Demo A', '&#129412; Unique Shop! - Store Menu'],
            ['localhost/ace/easymenu/menu_B', 'Demo B', 'This menu is missing its menuItems.'],
            ['localhost/ace/easymenu/menu_C', 'Demo C', 'This menu is missing its settings.'],
            ['none', 'Test (none)', 'Testing a missing menu.'],
          ];
        each menu in _links
          .item
            div: +a(homeUri+'open/'+menu[0])._no_u|#[span._mr #{menu[1]||''}] #[u._smaller #{menu[0]}]
            p._mt0|!{menu[2]}
        
      ._f(style="max-width:400px")
        -
          _links = [
            ['settings', '', 'The settings json data.'],
            ['menuItems', '', 'The menuItems json data.'],
            ['docs', 'Documentation', 'Contains all the information you need to know to use this site.'],
            ['README.md', 'Read me notes', 'Information about this site.'],
            ['LICENSE.txt', 'License Agreement', 'Usage license, terms of use, and copyright notice.'],
          ];
        each menu in _links
          .item
            div: +a(homeUri+menu[0])._no_u|#[span._mr #{menu[1]||''}] #[u._smaller #{menu[0]}]
            p._mt0|!{menu[2]}

block append style
  +cssv(assetsUri+'css/easymenu/html-dev.css')#_html_style
