include _vars

block vars
  //- variables for every html page
  - layout = 'core/html';

block document
  doctype html
  html#_html._html._nojs._scrollbar._a._hidden(lang=lang class=htmlClass)
    |
    | <!-- #{name} v#{version} b#{build.substring(0,build.indexOf('.')||build.length)} | (c) #{copyright} -->
    | <!-- layout:#{layout} -->
    |
    head
      meta(charset=charset)/

      block seo
        include _seo

      block meta
        include _meta

      block style
        +htmlPreset
        //- +cssv(href,media='all')
        +cssv(assetsUri+'css/core/html.css')

    //- head

    body#_body._body(class=bodyClass)
    
      block view
        +view._full_view

          block header

            +header#_header
              +heading#_heading !{heading}
              p !{about}
              hr

            //- include _nav
            //- +nav#_nav: ul: +lia
            +nav#_nav
              +backlink._link #[+itext|←]#[span._btnlabel Back]
              hr

          block main
            //- +main#_main: article._ma
              +pre: +putData
              +pageData#_pageData
            +main#_main: article._ma
              +pageData#_pageData
              hr
            
            //- +aside#_aside

          block footer
            //- +footer#_footer
          
        //- +view
      //- block view

      block widgets
        //- +widgets#_widgets
          +widget#_widget

      block script
        //- +jsv(src)
        +jsv(assetsUri+'js/theme_v1.0.js')(defer)

        if INCLUDE_SERVICE_WORKERS
          +jsv(assetsUri+'js/sw.j')(defer)
      //- script

      block finaly
        |
        | <!-- IE needs 512+ bytes: https://techie-joe.github.io/library/html5/ie#ie-needs-512-bytes -->
        |

    //- body

  //- html

//- document