//- __TLDR: Create a License Agreement text file
.
  #{''}
  Copyright (c) #{thisYear} - !{author}

  SOFTWARE : !{title} - v!{version}
  AUTHOR   : Developed and owned by !{author}

  ----------------------------------------------------------------------------
  LICENSE AGREEMENT for !{title}
  #{''}
include LICENSE.txt