-
  function range(n,min,max) { return Math.min(Math.max(n, min),max) }
  function colorRange(n,min=0,max=255) { return range(n,min,max) }
  function hexToInt(hex) { return colorRange(parseInt(hex, 16)); }
  function intToHex(int) { return colorRange(Math.floor(int)).toString(16).padStart(2, '0'); }

  function getRGB(hex) {
    var rgb = [
      hexToInt(hex.substring(0, 2)),
      hexToInt(hex.substring(2, 4)),
      hexToInt(hex.substring(4, 6))
    ];
    return rgb
  }

  function changeHex(hex,lighten=0) {
    var rgb  = getRGB(hex);
    var lit  = range( lighten, 0, 100 )/100;
    var c = [];
    rgb.forEach(function(v, i, a) {
      if (lit < 0.5) {
        v = v *( 2 * lit )
      } else {
        v = v +( 255 - v ) * ( 2 * ( lit - 0.5 ) )
      }
      c[i] = intToHex ( colorRange(v) )
    });
    return c.join('');
  }

  function getColors(i,tc=0,z=['222222','dddddd']) {
    var bg = [
      z[0],
      changeHex( i, 20 ),
      changeHex( i, 30 ),
      changeHex( i, 40 ),
      i,
      changeHex( i, 60 ),
      changeHex( i, 70 ),
      changeHex( i, 80 ),
      z[1],
    ];
    var tc = [
      bg[5],
      bg[6],
      bg[7],
      changeHex( i, 90 ),
      'FFFFFF',
      changeHex( i, 20 +tc ),
      changeHex( i, 30 +tc ),
      changeHex( i, 40 +tc ),
      changeHex( i, 50 +tc ),
    ];

    return [ bg, tc ];
  }

  //- ==========================================================================
  //-   |  |
  //- 01234567
  //- fedcba98
  //-   |  |
  var rainbow =
    [ 'DD1111'
    , 'DD8811'
    , 'DDBB00'
    , '88AA00'
    , '009900'
    , '0088AA'
    , '0066CC'
    , '2244DD'
    , '8822ee'
    , '992299'
    , 'CC0066'
    ];
  
  var colors = [
    [
      ['000000','111111','eeeeee','ffffff'],
      ['444444','5d5d5d','919191','aaaaaa']
    ],
    getColors('808080',-10),
  ];

  rainbow.forEach(function(v, i, a) {
    colors.push( getColors(v) );
  });

//- ============================================================================
mixin colorCodes(r)
  -
    var bg = colors[r][0];
    var tc = colors[r][1];
    var cbg = bg[ Math.ceil(bg.length/2)-1 ];
    var ctc = tc[ Math.ceil(tc.length/2)-1 ];
  .codecolor._mt-2._small(style=`background: #${cbg}; color:#${ctc}`) ##{cbg}
  .g
    .u-1-3: ._mr
      pre.colorcode._radius-1r._pad._mv-f1
        each v,i in bg
          = `$bg-${r+1}-${i+1} : #${v};`
          +__
      pre.colorcode._radius-1r._pad._mv-f1
        each v,i in bg
          = `.bg-${r+1}-${i+1} { background-color: #${v} }`
          +__
    .u-1-3: ._
      pre.colorcode._radius-1r._pad._mv-f1
        each v,i in tc
          = `$tc-${r+1}-${i+1} : #${v};`
          +__
      pre.colorcode._radius-1r._pad._mv-f1
        each v,i in tc
          = `.tc-${r+1}-${i+1} { color: #${v} }`
          +__
    .u-1-3: ._ml
      pre.colorcode._radius-1r._pad._mv-f1
        each v,i in bg
          = `.bc-${r+1}-${i+1} { border-color: #${v} }`
          +__

//- ============================================================================
mixin tables
  style.
    #table .grid { display:grid; }
    #table .i { padding: .4rem .5rem; font-size: .8em; }
    #table .c { border-radius: .5rem; }
  #table._text-center._uppercase
    - var r = 0;
    while r < colors.length
      div
        +table(r)
        +gradientColor(r)
      - r++

//- ============================================================================
mixin table(r)
  - var cols = colors[r][0].length;
  .grid(style=`grid-template-columns: repeat(${cols}, 1fr);`)
    - var c = 0;
    while c < cols
      - var bg = colors[r][0][c];
      - var tc = colors[r][1][c];
      .i(style=`background:#${bg};color:#${tc};`)
        .c(style=`border:1px solid #${tc}`) #[b #{bg}]#[br]#{tc}
      - c++;
    //- while
  //- grid

//- ============================================================================
mixin gradientColor(r)
  -
    var cols = colors[r][0].length;
    var _darkline  = 49;
    var _lightline = 100-_darkline+.1;
    var _darkness  = intToHex(32);
    var _lightness = intToHex(32);
    var bgc = `bgc-${r}`;
  style.
    .#{bgc} {
      margin:0 auto;
      height: 10px;
    }
    .#{bgc} .gc {
      height:100%;
      background:
      linear-gradient(to right
        , #000000#{_darkness}
        , #000000#{_darkness} #{_darkline}%
        , #00000000 #{_darkline}%
        , #ffffff00 #{_lightline}%
        , #ffffff#{_lightness} #{_lightline}%
        , #ffffff#{_darkness}
      ),
      linear-gradient(to right
        , #000
        , ##{colors[r][0][ Math.ceil(cols/2)-1 ]} #{_darkline}%
        , ##{colors[r][0][ Math.floor(cols/2)  ]} #{_lightline}%
        , #fff
      );
    }
  //- 
  div(class=bgc): .gc

//- var sat = Math.floor( 255 *saturation /100 );
//- var _grayscale = Math.floor( (rgb[0] + rgb[1] + rgb[2]) / 3 );
//- var gra = Math.floor( ( 765-_grayscale ) *grayscale /1000 );