extends ../../_templates/html

block append vars
  include _vars-demo
  -
    _template   = 'blank'
    url         = demoUrl+`/${_template}.html`
    title       = `${_template} | ${name}`
    description = `${_template} helps create a website from scratch.`

    og_title       = title
    og_description = description
    og_url         = url
  //- 

block append style
  style.
    ._view_layout { margin:1em }
  //- 

block nav
  //- include _editorbar

block main
  +main#_main
    article This is #{_template}