extends _template

block append vars
  include _vars
  -
    file           = `blank_demo`
    url            = url+`${file}.html`
    title          = `${file} | ${name}`
    description    = `This is about a ${file}.`

    og_title       = title
    og_description = description
    og_url         = url
  //- 

block append style
  //- style.
  //- 

block header

block main
  +main#_main: article._m| This is a #{file}

block footer
