extends _template

block append vars
  include _vars
  -
    header      = `Blank`
    file        = `blank`
    url         = url+`${file}.html`
    title       = `${header} | ${name}`
    description = `This is a ${file}.`

    og_title       = title
    og_description = description
    og_url         = url
  //- 

block append style
  style.
    ._main_layout { max-width:none }
  //- 

block header

block main
  +main#_main: article._m| #{description}

block footer
