extends _template

block append vars
  include _vars
  -
    header         = `Flex`
    file           = `flex`
    url            = url+`${file}.html`
    title          = `${header} | ${name}`
    description    = `${header} arrange contents.`

    og_title       = title
    og_description = description
    og_url         = url
  //- 

block append style
  style.
    .o { height:3em; font-size:.8em; font-weight:bold; box-shadow: 0 0 0 1px #f804 inset; padding:2px 5px; }
    .o:hover { background-color: #8886 }
  //-

block main
  +main#_main: article.layout

    mixin gen_grid(k)
      - var k2 = Math.floor(k/2);
      - var n = 0;
      while n < k2
        ._flex
          div(class=`_f-${k}-${n+1}`): .o _f-#{k}-#{n+1}
          div(class=`_f-${k}-${k-n-1}`): .o _f-#{k}-#{k-n-1}
        - n++;

    //- ._mv: ._flex
      +repeat(3):  ._f-12-4: .o _f-12-4
      +repeat(4):  ._f-12-3: .o _f-12-3
      +repeat(6):  ._f-12-2: .o _f-12-2
      +repeat(12): ._f-12-1: .o _f-12-1
      +repeat(6):  ._f-6-1: .o._orange _f-6-1
      +repeat(4):  ._f-4-1: .o._orange _f-4-1
      +repeat(3):  ._f-3-1: .o._orange _f-3-1
      +repeat(2):  ._f-2-1: .o._orange _f-2-1

    ._mv: ._flex: ._f-1: .o _f-1

    ._mv: +gen_grid(2)

    ._mv
      +gen_grid(3)
      ._flex: +repeat(3):  ._f-3-1: .o _f-3-1

    ._mv
      +gen_grid(4)
      ._flex: +repeat(4):  ._f-4-1: .o _f-4-1
      ._flex: +repeat(2):  ._f-2-1: .o._orange _f-2-1

    ._mv
      +gen_grid(5)
      ._flex: +repeat(5):  ._f-5-1: .o _f-5-1

    ._mv
      +gen_grid(6)
      ._flex: +repeat(6):  ._f-6-1: .o _f-6-1
      ._flex: +repeat(3):  ._f-3-1: .o._orange _f-3-1
      ._flex: +repeat(2):  ._f-2-1: .o._orange _f-2-1

    //- ._mv
    //-   +gen_grid(8)
    //-   ._flex: +repeat(8):  ._f-8-1: .o _f-8-1
    //-   ._flex: +repeat(4):  ._f-4-1: .o._orange _f-4-1
    //-   ._flex: +repeat(2):  ._f-2-1: .o._orange _f-2-1

    ._mv
      +gen_grid(10)
      ._flex: +repeat(5):  ._f-10-2: .o _f-10-2
      ._flex: +repeat(10): ._f-10-1: .o _f-10-1
      ._flex: +repeat(5):  ._f-5-1: .o._orange _f-5-1
      ._flex: +repeat(2):  ._f-2-1: .o._orange _f-2-1

    ._mv
      +gen_grid(12)
      ._flex: +repeat(3):  ._f-12-4: .o _f-12-4
      ._flex: +repeat(4):  ._f-12-3: .o _f-12-3
      ._flex: +repeat(6):  ._f-12-2: .o _f-12-2
      ._flex: +repeat(12): ._f-12-1: .o _f-12-1
      ._flex: +repeat(6):  ._f-6-1: .o._orange _f-6-1
      ._flex: +repeat(4):  ._f-4-1: .o._orange _f-4-1
      ._flex: +repeat(3):  ._f-3-1: .o._orange _f-3-1
      ._flex: +repeat(2):  ._f-2-1: .o._orange _f-2-1

    //- ._mv
      +gen_grid(16)
      ._flex: +repeat(4):  ._f-16-4: .o _f-16-4
      ._flex: +repeat(8):  ._f-16-2: .o _f-16-2
      ._flex: +repeat(16): ._f-16-1: .o _f-16-1
