extends _html

block append vars
  - heading = `Menu`
  - updateTitle( `${heading} | ${title}` )
  - updateDescription( `This page shows multiple variations of navigation layout you can use.` )
  - updateUrl( url+"menu.html" )
  - svgi.ellipsis = 'M16,12A2,2 0 0,1 18,10A2,2 0 0,1 20,12A2,2 0 0,1 18,14A2,2 0 0,1 16,12M10,12A2,2 0 0,1 12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12M4,12A2,2 0 0,1 6,10A2,2 0 0,1 8,12A2,2 0 0,1 6,14A2,2 0 0,1 4,12Z'; // ··· for menu

block append style
  style.

    ._view {
      overflow-x: auto;
      overflow-y: auto;
    }

  //- style.

mixin samples
  p
    +_a('#intro')._link Back to top
    +_a('#sample1')._link Sample #1
    +_a('#sample2')._link Sample #2

block views
  +view#intro

    include _nav
    +navbar

    +header#_header
      +heading#_heading !{heading}
      p#_about !{description}
      hr

    +main#_main: article

      section: ._nav_color._radius_x5r: +nav#_nav
        +a()._btnlink._smallest| Buttons
        +_a()._link| Links
        +_a()._link| Icons »
        +_a()._link._nav_icon._b: +middots
        +_a()._link._nav_icon: +isvg(svgi.ellipsis)
        +_a()._link._nav_icon: +isvg(svgi.compare)
      //- section

      +samples

    //- main

    +footer#_footer
      hr
      p._small._system !{copyright}

  //- view#intro

  +view#sample1
    mixin sampleMenu_1
      +_a()._link| Blog
      +_a()._link| Articles
      +_a()._link| Gallery
      +_a()._link| Contact

    section: #_navbar._flex
      ._f_min._pa._nav_color._text_center: +a()(style="width:80%;")._btnlink._smaller|Home
      ._fill._nav_color(style="flex-basis:20rem"): +nav#_nav: +sampleMenu_1
      ._f_min._text_right._pa_x5r._nav_color: +_a()()._navChangeThemeLink._link._nav_icon: +isvg(svgi.compare)
    //- section

    ._page_layout: +samples


  +view#sample2
    mixin sampleMenu_2
      +_a()._link| Product
      +_a()._link| Services
      +_a()._link| About us
      +_a()._link| Support

    include _logo
    section: #_navbar._flex
      ._f_min._nav_color._text_center: +logo
      ._fill._nav_color(style="flex-basis:20rem"): +nav#_nav: +sampleMenu_2
      ._f_min._text_right._pa_x5r._nav_color: +_a()._navChangeThemeLink._link._nav_icon: +isvg(svgi.compare)
    //- section

    ._page_layout: +samples
