extends _template

block append vars
  include _vars
  -
    header      = `Texts`
    url         = url+`texts.html`
    title       = `${header} | ${name}`
    description = `Font sizes and spacings has been meticulously adjusted to pixel precision to ensure optimal adaptability.`

    og_title       = title
    og_description = description
    og_url         = url
  //- 

block append style
  +css(homeUrl+'assets/pure/grid.css?v='+version)
  style.
    .gridlines {
      min-height: 100px;
      padding-bottom: 1px;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1" height="12"><rect width="1" height="1" fill="%23A9790688" /></svg>');
      background-repeat: repeat;
    }
    .demo .u { margin: 0 2px; padding-bottom: 10px; }

    .io1  { background: #66668844; box-shadow:0 1px orange; }
    .io2  { background: #66886644; box-shadow:0 1px orange; }

  //- 

block main
  +main#_main: article

    section.g.demo.gridlines

      mixin rag(x)
        - var n = 0
        while n < x
          if(n%2==0)
            .io2 H#[sup._sup H]g#[sub._sub #{n+1}]
          else
            .io1 &nbsp;
          - n++

      .u._text-1: +rag(13)
      .u._text-2: +rag(12)
      .u._text-3: +rag(11)
      .u._text-4: +rag(10)
      .u._text-5: +rag(9)
      .u._text-6: +rag(8)
      .u._text-7: +rag(7)

      .u._hero:   +rag(9)
      .u._hero-1: +rag(8)
      .u._hero-2: +rag(7)

    section.gridlinesx._text-center
      hr

      - var hero    = 'Text Sample';
      - var heading = 'Text Sample';
      p._hero-2  #{hero} 3
      p._hero-1  #{hero} 2
      p._hero    #{hero} 1
      h1._h1  #{heading} 1
      h2._h2  #{heading} 2
      h3._h3  #{heading} 3
      h4._h4  #{heading} 4
      h5._h5  #{heading} 5
      h6._h6  #{heading} 6
      div._h7 #{heading} 7
      p Normal Text
      p
        span Normal
        +_
        span._small Small
        +_
        span._smaller Smaller
      p Sizing classes from #[code._code _h1] to #[code._code _h7] separates visual appearance from semantics, giving you better control over both content and design.

    section
      hr

      ._flex._gap-2
        ._f-3-1
          h2._sans._h2 Sans
          p._sans._text-justify.
            Sans fonts, such as Arial and Helvetica, are known for their clean and modern look, lacking the small decorative strokes at the ends of letters. They are widely used for digital media due to their readability on screens.

        ._f-3-1
          h2._serif._h2 Serif
          p._serif._text-justify.
            Serif fonts, like Times New Roman, Garamond and Georgia, feature small lines or strokes attached to the ends of letters, giving a more traditional and formal appearance. These fonts are often used in print media for their elegant look.

        ._f-3-1
          h2._mono._h2 Monospace
          p._mono._text-justify.
            Monospace fonts, such as Courier New and Consolas, have characters that occupy the same horizontal space. This uniform spacing makes them ideal for coding, as they enhance readability.
      //- g


