extends _html

block append vars
  - heading = `View`
  - updateTitle( `${heading} | ${title}` )
  - updateDescription( `${heading} controls how user perceive a page.` )
  - updateUrl( url+"view.html" )

block widgets

  +widgets#_widgets

    style.

      #nav {
        box-shadow: 0 0 1px 1px #888 inset;
        position: absolute;
        z-index: 1000;
        left: 50%;
        top: 20rem;
        padding: .5rem;
        margin: -6rem -4.7rem 0;
      }

      #nav a { margin:1px }

    +widget#nav-box._no_print
      nav#nav._bg_2_2._tc_2_2._radius_x25r
        table: tbody
          tr
            td: +a('#view-1')._btnlink 1
            td: +a('#view-2')._btnlink 2
          tr
            td: +a('#view-3')._btnlink 3
            td: +a('#view-4')._btnlink 4

block views

  style.
    ._view { overflow: auto }
    ._view h2 { text-align: center }
  //- 
    ._view { box-shadow: 0 0 1px 1px red inset; }

  - v = 1;
  +view(id=`view-${v}`)

    include _nav
    +navbar

    h2._h7 View ##{v}
    hr

    +main#_main._text_center
      p !{description}

  - v = 3;
  +view(id=`view-${v}`)

    style.
      #view-#{v} {
        background-color: #20002255;
        color:#222;
      }
      ._dark #view-#{v} { color:inherit }

    h2._h7 View ##{v}
    hr

    +pre._ma: +putData

  style.
    #view-2 {
      background-color: #00220855;
      position: absolute;
      top: 0;
      left: 100%;
    }
    #view-4 {
      background-color: #00153d55;
      position: absolute;
      top: 100%;
      left: 100%;
    }

  each v in [2,4]
    +view(id=`view-${v}`)
      h2._h7 View ##{v}
