extends _template

block append vars
  include _vars-demo
  -
    header      = `Views`
    url         = demoUrl+`/views.html`
    title       = `${header} | ${name}`
    description = `${header} controls how a page behave.`

    og_title       = title
    og_description = description
    og_url         = url
  //- 

block append style
  style.
    #nav table td { line-height:0 }
    ._view h1 { text-align: center }
  //- 
    ._view { box-shadow: 0 0 1px 1px red inset; }

block widgets
  +widgets#_widgets

    +widget#nav-position

      style.
        #nav-position {
          display: block;
          position: absolute;
          bottom : 50%;
          right: 50%;
        }

        #nav {
          box-shadow: 0 0 1px 1px #888 inset;
          position:relative;
          z-index:1000;
          left: 50%;
          top : 70px;
          padding: 1rem;
        }

        #nav a {
          margin:1px;
        }

        #view-2 {
          background: #0205;
          position: absolute;
          top: 0;
          left: 100%;
        }

        #view-3 {
          background: #2005;
        }

        #view-4 {
          background: #0025;
          position: absolute;
          top: 100%;
          left: 100%;
        }

      nav#nav.bg-2-2.tc-2-2._radius-2r(style="width:116px")
        table: tbody
          tr: td(colspan=2): +a('./')(style="width:75px")._btnlink #[+fit ☚] Back
          tr
            td: +a('#view-1')._btnlink #1
            td: +a('#view-2')._btnlink #2
          tr
            td: +a('#view-3')._btnlink #3
            td: +a('#view-4')._btnlink #4

block view

  - var v = 1;
  +view(id=`view-${v}`)
    ._pad.bg-1-2.tc-1-2: ._grid
      ._10-1: +a(demoUrl)._btnlink._small ≡ Demo
      ._10-9: include _nav-demo
    +main#_main: article
      h1._h7 View ##{v}
      p._text-center main article

  each v in [2,3,4]
    +view(id=`view-${v}`)
      h1._h7 View ##{v}
