extends ../_html

block append vars
  include ../_vars_2
  - siteUrl += 'open/'
  - filename = 'index.html'
  - heading  = name+'&trade;'
  - about    = description

block topRightNav_content
  +topThemeSwitch

block pageHeader
  ._pageHeader._defaultHeader
    ._pv: +a(homeUri)._link._l: +heading#_heading._h7._inblock._m0 !{heading}

block main
  +main#_main
    article._article#menu
    article._article#main

      section#menuLocator: form._p(onsubmit="event.preventDefault();menu.find();")
        h3.title._no_wrap| Open your menu
        .input._color_1._radius_x5r
          input#menuLocation.input-txt._radius_x5r(type='text' placeholder="Enter the menu location ...")
          button(onclick="menu.find()" title="Find menu").submit._btnlink|&#128269;
        #menuLocatorMessage.message._tc_red._p._small

      section#suggestions
      
        ._text_center: h2._b._t1._i._p| Menu Suggestions

        mixin demoLinks(_demolinks)
          each menu in _demolinks
            .item._color_2._pa._radius_x5r
              div: +a(menu[0])._no_u|#[span._tc_contra._b #{menu[1]||''}] #[u._smaller #{menu[0]}]
              div|!{menu[2]}

        ._flex
          //- ------------------------------------------------------
          ._f
            +demoLinks([
              ['localhost/ace/easymenu', '(Demo 01)', '&#128020; Your Brand! - Restaurant Menu.'],
            ])
          //- ------------------------------------------------------
          ._f
            +demoLinks([
              ['localhost/ace/easymenu/menu_A', '(Demo 02)', '&#129412; Unique Shop! - Store Menu.'],
            ])
          //- ------------------------------------------------------
          ._f
            +demoLinks([
              ['localhost/ace/easymenu/menu_C', '(Demo 03)', 'A simple menu.'],
            ])

      hr._mv_2

      section#intro._flex._gap_a_2

        //- ------------------------------------------------------
        ._f_2_1: ._p
          h2._b._t1._i._p._mb_2| What is it about?
          ._text_justifyx
            p.
              #[strong #{name}&trade;] simplifies menu creation, enabling businesses to craft
              sleek, professional online menus in minutes,
              with no coding or design required.
            p.
              Suitable for businesses of all kinds &mdash; cafes, bakeries,
              restaurants, shops, service providers, and more.
              Simply configure your preferences, and you're ready to go!

        //- ------------------------------------------------------
        ._f_2_1: ._p
          h2._b._i._p._t1._mb_2| How does it works?
          ._text_justifyx
            p.
              1. #[a(href=homeUri+'create') Create a menu] using the tools provided.
            p.
              2. #[a(href=homeUri+'open') Open the menu] with #{name}.
            p.
              3. Share the menu with your friends.
            p.
              Enjoy!
            //- 
              Explore details in the #[a(href=homeUri+'docs') documents].
            //- p.
              Check out these examples: 
              #[a._i._small(href=homeUri+"settings" target="menu_settings") settings],
              #[a._i._small(href=homeUri+"menuItems" target="menu_menuItems") menuItems].

      ._pa

mixin template
  script(type="text/x-handlebars-template")&attributes(attributes): block

block append script

  +template#header-template
    style.
      #_body {
        border-top-color: {{primary-color.value}};
        border-bottom-color: {{secondary-color.value}};
      }
      #_header { background-color: #EEEEEE }
      ._dark #_header { background-color: #282828 }
      #_header .logo {
        color: {{header-primary-color.value}};
        text-shadow: 4px 4px 0px {{header-secondary-color.value}}, 5px 5px 8px #0006;
      }
    //- style.
    ._header_layout
      .header.row.text-center: .col-md-6.offset-md-3.mb-4._no_overflow
        h1.logo
          span.headerA|{{safe header-a.value}}
          br
          span.headerB|{{safe header-b.value}}
        p._tc_contra|{{safe description.value}}
      ._color_1._pa._text_center(style="margin:0 -1rem")
        p|{{safe about.value}}

  +template#menu-template
    .row
      |{{#each this as |category|}}
      .
        <div class="col-md-6 _mv">
          <div class="category">
            <h3 class="mb-4 mt-2">{{@key}}</h3>
            <ul class="list-unstyled">
              {{#each this as |item|}}
                <li class="item d-flex align-items-center mb-3">
                  <div class="name">{{item.item}}</div>
                  {{#if item.isVegetarian}}
                    <div class="v">V</div>
                  {{/if}}
                  <div class="price ml-auto">&dollar;{{item.price}}</div>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      |{{/each}}


block prepend style
  +css("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")(integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous")

block append script
  +js('https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js')
  +js('https://cdn.jsdelivr.net/npm/underscore@1.11.0/underscore-min.js')
  +js(assetsUri+'js/easymenu/main.js')

block append style
  +css("https://fonts.googleapis.com/css2?family=Pacifico&display=swap")
  +cssv(assetsUri+'css/easymenu/html.css')#_html_style
  +cssv(assetsUri+'css/easymenu/menu.css')#_menu_style
