-
  let demoUrl        = "/ace/_demo/"
  let templateUrl    = "/ace/_templates/"

  let demoUrlX        = "/ace/demo/"
  let templateUrlX    = "/ace/templates/"

  let homeUrl        = "/ace/"
  let assetsUrl      = "/ace/assets/"

  let title          = "(untitled)"
  let description    = "(undescribed)"

  let heading        = "(untitled)"
  let about          = "(undescribed)"

  let brandName      = "(unknown)"
  let codeName       = "(unknown)"
  let author         = "(unknown)"
  let publisher      = "Tidloo"

  let output         = "ace"
  let version        = "0.1.10"
  let build          = "170.10"

  let url            = "https://techie-joe.github.io/ace/"
  let authorUrl      = "https://techie-joe.github.io/"

  let thisYear       = new Date().getFullYear()

  let copyright      = `&copy; Copyright ${thisYear} ${publisher}`

  let og_title       = title
  let og_description = description
  let og_url         = url+"?utm_source=homescreen"
  let og_type        = "website"
  let og_image       = ""
  let og_imageAlt    = ""

  // en or en-US following the BCP 47 language tag standard
  let lang           = "en"
  let charset        = "utf-8"
  let colorScheme    = "light dark"
  let themeColor     = "#222222"

  let htmlClass      = ''
  let bodyClass      = ''
  let contentsClass  = ''

  let include_manifest = false

mixin updateTitle(_title)
  - title    = _title
  - og_title = _title

mixin updateDescription(_description)
  - description    = _description
  - og_description = _description

mixin updateUrl(_value,_type='website')
  -    url  = _value
  - og_url  = _value+"?utm_source=homescreen"
  - og_type = _type

mixin updateImage(_image, _alt)
  - og_image    = _image
  - og_imageAlt = _alt

mixin putDataTitle
  +l
  +join([
    `title          = ${title}`,
    `description    = ${description}`,
    ``,
    `heading        = ${heading}`,
    `about          = ${about}`,
    ``,
    `brandName      = ${brandName}`,
    `codeName       = ${codeName}`,
    `author         = ${author}`,
    `publisher      = ${publisher}`,
    ``,
    `output         = ${output}`,
    `version        = ${version}`,
  ])
  +l

mixin putDataUrl
  +l
  +join([
    `url            = ${url}`,
    `authorUrl      = ${authorUrl}`,
  ])
  +l

mixin putDataOg
  +l
  +join([
    `og_title       = ${og_title}`,
    `og_description = ${og_description}`,
    `og_type        = ${og_type}`,
    `og_url         = ${og_url}`,
    `og_image       = ${og_image}`,
    `og_imageAlt    = ${og_imageAlt}`,
  ])
  +l

mixin putData
  +putDataTitle
  +putDataUrl
  +putDataOg
