include _functions
include _vars
include _jss
include _mixins

block vars
  //- variables for every html page

//- block append vars
  include _vars
  - updateTitle( `(untitled) | ${title}` )
  - updateDescription( `(undescribed)` )

block entry
  //- entrypoint for variable setup & security check

doctype html
html#_html(lang=lang class=htmlClass)._nojs._scrollbar._a

  | <!-- layout:html/#{codeName} -->
 
  head
    meta(charset=charset)/
    
    block seo
      include _seo

    block meta
      include _meta

    block style
      +htmlColor
      //- +cssv(href,media='all')
      +cssv(assetsUrl+'css/ace.css')

  body#_body(class=bodyClass)

    block contents
      #_contents(class=contentsClass)

        block views
          +view

            block header
              //- +header#_header: +heading#_heading

            block nav
              //- include _nav
              //- +nav#_nav: ul: +lia

            block main
              //- +main#_main: article| main article
              //- +pre._ma: +putData
              //- +pageData#_pageData._page_layout._ma
              +pageData#_pageData._page_layout

            block footer
              //- +footer#_footer
            
            block asides
              //- +aside#_aside

    block widgets
      //- +widgets#_widgets: +widget#_widget

    block script
      //- +jsv(src)
      +jsv(assetsUrl+'cjs/thm.js')(defer)

    block last
      | <!-- IE needs 512+ bytes: https://techie-joe.github.io/library/html5/ie#ie-needs-512-bytes -->