extends _html

block append vars
  - heading = `Buttons`
  - about   = `Button styles provide visual cues to users.`
  - updateTitle( `${heading} | ${name}` )
  - updateDescription( `${about}` )
  - updateUrl( siteUrl+'buttons.html' )

block append style
  style.

    .o { height:2rem }

  //- style.
  style.
    .buttons ._btnlink { min-width:5em }
  //- style.

block main
  +main#_main: article

    section.buttons
      ._p
        +a(onclick=onclick())._btnlink._xl.__primary Primary
        +a(onclick=onclick())._btnlink._xl.__secondary Secondary
        +a(onclick=onclick())._btnlink._xl Ordinary
      ._p
        +a(onclick=onclick())._btnlink._xl.__disabled.__primary Primary
        +a(onclick=onclick())._btnlink._xl.__disabled.__secondary Secondary
        +a(onclick=onclick())._btnlink._xl.__disabled Ordinary
    //- section

  //- main

//- block main