extends _html

block append vars
  - heading = `Colors`
  - about   = `Colors adds personality to your site.`
  - updateTitle( `${heading} | ${name}` )
  - updateDescription( `${about}` )
  - updateUrl( siteUrl+'colors.html' )
  include _color_functions

block header

  include _nav
  +navbar

  +header#_header
    +heading#_heading !{heading}
    p
      | !{description}
      | See colors being applied as a #[+a('theme.html') theme].
    hr

block append style
  style.
    .atheme {

    }
    .atheme ._f {
      padding: 5px 2px;
      text-align: center;
    }
    .i {
      display: inline-block;
      font-size: 2rem;
      line-height: 1;
      text-align: center;
      cursor: default;
      user-select: none;
    }
  //- style.

//- ☯
mixin theme(_b,f1)
  .atheme._flex
    - n = 0;
    while n <= 255
      - c = [n,n,n];
      - b = rgbColor(_b);
      - bg = hexColor(c);
      - fg = hexColor(f1(b,c));
      ._f(
        style="background-color:#"+bg+";color:#"+fg+";"
      )
        .i|☯
        ._smallest._uppercase._b._mono|#{bg}
        ._smallest._uppercase._b._mono|#{fg}
      - n+=17;

block main

  +main#_main: article

    section
      -
        v1 = (b,c)=>(255-c)*(b/255);
        f1 = (b,c)=>[
          v1(b[0],c[0]),
          v1(b[1],c[1]),
          v1(b[2],c[2]),
        ];
      +theme('FFFFFF',f1)

  //- main

//- block main