extends _html

block append vars
  - heading = `Colors`
  - about   = `Colors adds personality to your site.`
  - updateTitle( `${heading} | ${name}` )
  - updateDescription( `${about}` )
  - updateUrl( siteUrl+'colors.html' )
  include _color_functions
  -
    /* ======== REFERENCE ========================================
                  |   |
                0123-4567
                fedc-ba98
                  | - |
    =========================================================== */

    var rainbow = [
      'eecc00',
      '88AA00',
      '008800',
      '0088AA',
      '0066CC',
      '2244DD',
      '8822ee',
      '992299',
      'CC0066',
      'DD0000',
      'DD7700',
    ];

block header

  include _nav
  +navbar

  +header#_header
    +heading#_heading !{heading}
    p
      | !{description}
      | See colors being applied as a #[+a('theme.html') theme].
    hr

block append style
  style.
    .atheme {

    }
    .atheme ._f {
      padding: 5px 2px;
      text-align: center;
    }
    .i {
      display: inline-block;
      font-size: 2.8rem;
      line-height: 1;
      text-align: center;
      cursor: default;
      user-select: none;
    }
  //- style.

//- ☯
mixin theme(_b,_c,_f)
  .atheme._flex
    -
      mix = (c,s,f)=>[
        f(s[0],c[0]),
        f(s[1],c[1]),
        f(s[2],c[2]),
      ];
    - n = 0;
    while n <= 255
      - s = [n,n,n];
      - b = rgbColor(_b);
      - c = rgbColor(_c);
      - bg = hexColor(mix(b,s,_f[0]));
      - fg = hexColor(mix(c,s,_f[1]));
      ._f(style="background-color:#"+bg+";color:#"+fg+";")
        .i|☯
        ._smaller._uppercase._b._mono|#{bg}
        ._smaller._uppercase._b._mono|#{fg}
      - n+=17;

block main

  +main#_main: article

    section
      - o_w = (s,c)=>(s);
      - w_o = (s,c)=>(255-s);
      - o_c = (s,c)=>(c/255)*(s);
      - c_o = (s,c)=>(c/255)*(255-s);
      - c_w = (s,c)=>(c/255)*(255-s)+(s);
      - c__ = (s,c)=>(c/255)*(255-s)+(s+s);
      +theme('FFFFFF','FFFFFF',[o_w,w_o])

      each c in rainbow
        +theme(c,c,[o_c,c_o])
        +theme(c,c,[o_c,c_w])

      //- +theme('2244DD','2244DD',[o_c,c_o])

  //- main

//- block main