extends _html

block append vars
  - heading = `Core Elements`
  - about   = `Lets explore the main elements of our template.`
  - updateTitle( `${heading} | ${name}` )
  - updateDescription( `${about}` )
  - updateUrl( siteUrl+'index.html' )

block append style
  //- style.
  //- style.

block header

  +navbar(false)

  +header#_header
    +heading#_heading !{heading}
    p !{description}
    hr

block main

  +main#_main: article

    +nav._color_1._radius_x5r._clearfix._mv
      -
        temp = [
          ['basics.html','Basics'],
          ['texts.html','Texts'],
          ['icons.html','Icons'],
          ['links.html','Links'],
          ['buttons.html','Buttons'],
          ['containers.html','Containers'],
        ];
      each v in temp
        +a._link._l(href=v[0]) #{v[1]}

    +nav._color_1._radius_x5r._clearfix._mv
      -
        temp = [
          ['view.html','View'],
          ['flex.html','Flex'],
          ['layouts.html','Layouts'],
          ['alignment.html','Alignment'],
          ['overflow.html','Overflow'],
        ];
      each v in temp
        +a._link._l(href=v[0]) #{v[1]}

    +nav._color_1._radius_x5r._clearfix._mv
      -
        temp = [
          ['test.html','Test'],
          ['blank.html','Blank'],
          ['menu.html','Menu'],
          ['theme.html','Theme'],
        ];
      each v in temp
        +a._link._l(href=v[0]) #{v[1]}

    +nav._color_1._radius_x5r._clearfix._mv
      -
        temp = [
          ['error.html','Error'],
        ];
      each v in temp
        +a._link._l(href=v[0]) #{v[1]}

    +nav._color_1._radius_x5r._clearfix._mv
      -
        temp = [
          [homeUri+'themejs/','ThemeJs'],
          ['colors.html','Colors'],
        ];
      each v in temp
        +a._link._l(href=v[0]) #{v[1]}

  //- main

//- block main