extends _html

block append vars
  - heading = `Layouts`
  - about   = `Arrange contents with any of these layouts.`
  - updateTitle( `${heading} | ${name}` )
  - updateDescription( `${about}` )
  - updateUrl( siteUrl+'layouts.html' )
  - INCLUDE_NAV = false
  - INCLUDE_BACKSWITCH = true
  - HEADER_TYPE = 'SIMPLE'

block append style
  style.

    ._view { overflow: auto }

    ._footer_layout, ._header_layout
    { max-width:none;padding:0;margin:0 }

  //- style.

mixin layblock
  .block._outline&attributes(attributes): ._pa: block

mixin viewBlock(name)
  +view(id=`view-${name}`)._full_view: block

block view

  ._views

    +viewBlock(1)

      +header#_header
        ._ph: p #[b._h7 !{heading} &mdash; ] !{about}
        hr
      //- header

      style.

        .block { text-align:center }

        .A_layout { margin:.5rem }

        .B_layout { max-width:60rem;margin:auto }

      //- style.

      +layblock.B_layout #[b B_layout ] #[code { max-width:60rem; margin:auto }]

      +layblock.A_layout #[b A_layout ] #[code { margin:.5rem }]

      +layblock.DEFAULT_layout #[b DEFAULT_layout ] #[code { full-width, auto-height, no-margin }]

      hr
      #menu._ma: +nav._clearfix
        -
          temp = [
            ['#view-2','Full'],
            ['#view-3','Float'],
          ];
        each v in temp
          +a(v[0])._btnlink._l #{v[1]}

      //- menu

      +footer#_footer
        hr
        ._ph: p._small._system &copy; !{copyright}
      //- footer

    //- view

    +viewBlock(2)
      
      style.

        .FULL_layout {
          position:absolute;
          top:0;left:0;bottom:0;right:0;
          width:100%;height:100%;
        }

      //- style.

      +layblock.FULL_layout #[b FULL_layout ] #[code { absolute-full }]

    //- view

    +viewBlock(3)
      
      style.

        .FLOAT_layout {
          position:absolute;
          top:10em;left:10em;bottom:10em;right:10em;
        }

      //- style.

      +layblock.FLOAT_layout #[b FLOAT_layout ] #[code { absolute-float }]

    //- view

  //- views

//- block main