extends _html

block append vars
  - heading = `Link elements`
  - about   = `Intuitively simple styles for link elements.`
  - updateTitle( `${heading} | ${name}` )
  - updateDescription( `${about}` )
  - updateUrl( siteUrl+'links.html' )
  -
    svgi = {
      bars:'M5,6H19V8H5V6M5,11H19V13H5V11M5,16H19V18H5V16Z',
    };

block append style
  +css('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css')

mixin ba(href='#',_onclick)
  a(href=href onclick=onclick(_onclick))&attributes(attributes): block

block main

  +main#_main: article

    ._p
      | normal
      | #[u underlined]
      | #[a anchor]
      | #[+ba._fresh fresh]
      | #[+ba#normalink hyperlink]
      | #[+ba('') visited]
      | #[+ba._no_color no-color]

    script.
      document.getElementById('normalink').href+='?t='+(new Date().getTime());

    hr

    ._p
      +repeat(2)
        +ba|#[+isvg(svgi.bars)]hyperlink
        +ba|#[+itext|≡]hyperlink
        +ba|#[+fas.fa-bars]hyperlink
        +ba hyperlink
        br

    ._p._outline
      | normal
      +ba._link link
      +ba._link.__icon|#[+isvg(svgi.bars)]
      +ba._link.__icon|#[+itext|≡]
      +ba._link.__icon|#[+fas.fa-bars]

    ._p
      +repeat(2)
        a._link link
        a._link|#[+isvg(svgi.bars)]link
        a._link|#[+itext|≡]link
        a._link|#[+fas.fa-bars]link
        br

    ._p._outline
      | normal
      a._btnlink btnlink
      a._btnlink.__icon|#[+isvg(svgi.bars)]
      a._btnlink.__icon|#[+itext|≡]
      a._btnlink.__icon|#[+fas.fa-bars]

    ._p
      +repeat(2)
        a._btnlink btnlink
        a._btnlink|#[+isvg(svgi.bars)]btnlink
        a._btnlink|#[+itext|≡]btnlink
        a._btnlink|#[+fas.fa-bars]btnlink
        br

    ._p._outline
      a._btnlink._l btnlink
      a._btnlink.__icon._l|#[+isvg(svgi.bars)]
      a._btnlink.__icon._l|#[+itext|≡]
      a._btnlink.__icon._l|#[+fas.fa-bars]

    ._p
      +repeat(2)
        a._btnlink._l btnlink
        a._btnlink._l|#[+isvg(svgi.bars)]btnlink
        a._btnlink._l|#[+itext|≡]btnlink
        a._btnlink._l|#[+fas.fa-bars]btnlink
        br

    ._p._outline
      a._btnlink._xl btnlink
      a._btnlink.__icon._xl|#[+isvg(svgi.bars)]
      a._btnlink.__icon._xl|#[+itext|≡]
      a._btnlink.__icon._xl|#[+fas.fa-bars]

    ._p
      +repeat(2)
        a._btnlink._xl btnlink
        a._btnlink._xl|#[+isvg(svgi.bars)]btnlink
        a._btnlink._xl|#[+itext|≡]btnlink
        a._btnlink._xl|#[+fas.fa-bars]btnlink
        br

    ._p._outline
      a._btnlink btnlink
      a._btnlink._l btnlink
      a._btnlink._xl btnlink

    ._p._outline
      | normal
      a._link link
      a._btnlink btnlink
      a._hover_link hover_link

    ._p._outline
      | normal
      | #[a._hover_scale hover_scale]
      | #[span._hover_scale_a: a hover_scale]
      | #[span._hover_scale hover_scale]

    hr

    details
      summary The visible summary or title.
      div The collapsible content as used to create web pages.

    hr

    details._details
      summary The visible summary or title.
      ._detail The collapsible content as used to create web pages.

    hr

    details._details._border._radius_x25r
      summary._radius_x25r The visible summary or title.
      ._detail The collapsible content as used to create web pages.

  //- main

//- block main

