extends _html

block append vars
  - heading = `Test page`
  - about   = `We try new things from time to time.`
  - updateTitle( `${heading} | ${name}` )
  - updateDescription( `${about}` )
  - updateUrl( siteUrl+'test.html' )

block append style
  style.
    ._footer_layout, ._header_layout, ._main_layout
    { max-width:none;padding:0;margin:.5rem }
  //- style.

block header

  +header#_header
    ._p #[b._h7 !{heading} : ] !{about}
    hr
  //- header

block append topSwitch
  +a.link._link._color(onclick=onclick('window.test.disableStyle();') title="Toggle Style") s
  +backlink.link._link._color(title="Close Test Page") &times;

block append script
  script.
    (()=>{
      var
      e = document.getElementById("_core_style"),
      m = e.getAttribute("media"),
      disableStyle = ()=>{ e.setAttribute("media",e.getAttribute("media")==='x'?m:'x') };
      window.test = { disableStyle };
    })();
  //- script.

block main

  +main#_main: article

    section._small._i // but, nothing at the moment tho.

  //- main

//- block main