extends ../_templates/demo

block append vars
  include _demo-vars
  include _color-functions
  -
    header      = `Colors`
    url         = url+`/colors.html`
    title       = `${header} | ${name}`
    description = `These colors are made for your reference.`

    og_title       = title
    og_description = description
    og_url         = url
  //- 

block append style
  //-   |  |
  //- 01234567
  //- fedcba98
  //-   |  |
  style.
    .line { border-top:1px solid #808080 }

    .gridlines {
      padding-top: 1px;
      height:100%;
      background-image: url('data:image/svg+xml;utf8,<svg width="10" height="10" xmlns="http://www.w3.org/2000/svg"><rect width="9" height="9" fill="none" stroke="none" /><line x1="10" y1="0" x2="10" y2="10" stroke="%23ddd" stroke-width="1" /><line x1="0" y1="10" x2="10" y2="10" stroke="%23ddd" stroke-width="1" /></svg>');
      background-repeat: repeat;
      background-position: .1px .1px;
    }
    ._dark 
    .gridlines {
      background-image: url('data:image/svg+xml;utf8,<svg width="10" height="10" xmlns="http://www.w3.org/2000/svg"><rect width="9" height="9" fill="none" stroke="none" /><line x1="10" y1="0" x2="10" y2="10" stroke="%23222" stroke-width="1" /><line x1="0" y1="10" x2="10" y2="10" stroke="%23222" stroke-width="1" /></svg>');
    }

    #_main .section { width:960px;margin: 1em 0; }

  //- 

block header
  header#_header
    .layout
      h1 !{header}
      p
        | !{description}
        | See colors being applied in #[+a('theme.html') theme].
    hr._no-margin

block main

  main#_main
    article(style="overflow-x:scroll")

      .section.-rainbow-link
        style.
          #_html .colorlink {
            font-size:14px;
            color:#fff;
            text-shadow: 1px 1px 1px #00000099;
            padding:.2em .5em;
            margin:1em .5em;
            text-decoration:none;
            border-radius:3px;
            }
        ._mv._b._text-center._uppercase
          each c in rainbow
            +a('')(style=`background-color:#${c}`).colorlink #{c}

      .section.-tables: +tables

      .section.-grayscale
        style.
          .bg0 {
            height:10px;
            background:
            linear-gradient(to right
              , #000
              , #fff
            );
          }
        div: +img(homeUrl+"images/grayscale.svg","grayscale.svg","Gray Scale")(style="width:100%")
        .bg0: .gridlines

      .section.-grainbow
        -
          var grainbow =
            [ '#ff0000'
            , '#ff8000'
            , '#ffff00'
            , '#80ff00'
            , '#00ff00'
            , '#00ff80'
            , '#00ffff'
            , '#0080ff'
            , '#0000ff'
            , '#8000ff'
            , '#ff00ff'
            , '#ff0080'
            , '#ff0000'
            ];
          var darkline  = 49;
          var lightline = 100-darkline+.1;
          var darkness  = intToHex(64);
          var lightness = intToHex(64);
        style.
          .cg {
            display:block;
            height: 960px;
            background:
            linear-gradient(to right
              , #000000ff
              , #000000#{darkness} #{darkline}%
              , #00000000 #{darkline}%
              , #ffffff00 #{lightline}%
              , #ffffff#{lightness} #{lightline}%
              , #ffffffff
            ),
            linear-gradient(to bottom,#{grainbow.join(',')});
          }
        ._relative
          .cg: .gridlines
          ._absolute(style="left:50%;margin-left:-15px;")
            +img(homeUrl+"images/colorscale-v.svg","colorscale-v.svg","Color Scale")

      .section.-rainbow-code
        -
          var primary_color   = 8; // blue 0066CC
          var secondary_color = 3; // orange DD8811

          var bg = colors[primary_color][0];
          var tc = colors[primary_color][1];
          var cbg = bg[ Math.ceil(bg.length/2)-1 ];
          var ctc = tc[ Math.ceil(tc.length/2)-1 ];

        style.
          #_html .colorcode       { background:#ccc; }
          #_html._dark .colorcode { background:#111; }
          .codecolor { padding:0 1em }
        +colorCodes(primary_color)
        +colorCodes(secondary_color)
        +colorCodes(2)
        +colorCodes(1)
        +colorCodes(0)
