extends ../_templates/demo

block append vars
  include _demo-vars
  -
    header      = `Colors`
    title       = `${header} | ${name}`
    description = `These color page are made for your reference.`
    url         = url+`/texts.html`

    og_title       = title
    og_description = description
    og_url         = url
  //- 

block append style
  //-   |  |
  //- 01234567
  //- fedcba98
  //-   |  |
  style.
    #_header { max-width:960px }
    #_header,
    #_main { margin:0 auto; padding:0 1rem; }

    .bg0 {
      height:10px;
      background:
      linear-gradient(to right, #000000, #ffffff);
    }

    .bg1 {
      height:100%;
      background:
      linear-gradient(to bottom, #000000ff, #00000000);
    }

    .bg2 {
      height:100%;
      background:
      linear-gradient(to top, #ffffffff, #ffffff00);
    }

    .line { border-top:1px solid #808080 }

    .gridlines {
      padding-top: 1px;
      height:100%;
      background-image: url('data:image/svg+xml;utf8,<svg width="10" height="10" xmlns="http://www.w3.org/2000/svg"><rect width="9" height="9" fill="none" stroke="none" /><line x1="10" y1="0" x2="10" y2="10" stroke="%23ddd" stroke-width="1" /><line x1="0" y1="10" x2="10" y2="10" stroke="%23ddd" stroke-width="1" /></svg>');
      background-repeat: repeat;
      background-position: 1px 1px;
    }
    ._dark 
    .gridlines {
      background-image: url('data:image/svg+xml;utf8,<svg width="10" height="10" xmlns="http://www.w3.org/2000/svg"><rect width="9" height="9" fill="none" stroke="none" /><line x1="10" y1="0" x2="10" y2="10" stroke="%23222" stroke-width="1" /><line x1="0" y1="10" x2="10" y2="10" stroke="%23222" stroke-width="1" /></svg>');
    }

    #_main .section { width:960px;padding: 1em 0; }
    .grid { display: grid; }
    #table .i { padding: .5rem 1rem; }
    #table .c { font-size: .8em; border-radius: .5rem }

  //- 

mixin table
  -
    //-   |  |
    //- 01234567
    //- fedcba98
    //-   |  |
    var bgs = [
      ['111111','222222','444444','bbbbbb','dddddd','eeeeee'],
      ['222222','174F1E','247c2f','42a14e','84C28B','dddddd'],
      ['222222','0F335E','174f93','3782dc','7CADE8','dddddd'],
      ['222222','6A1E1E','a83030','ec5e5e','F39999','dddddd'],
      ['222222','7F5A00','c88e00','daa300','E7C45D','dddddd'],
    ];
    var tcs = [
      ['555555','888888','dddddd','222222','888888','aaaaaa'],
      ['42a14e','84C28B','C2E1C6','0B260F','174F1E','247c2f'],
      ['3782dc','7CADE8','BED7F4','07192F','0F335E','174f93'],
      ['ec5e5e','F39999','F9CBCB','330F0F','6A1E1E','a83030'],
      ['daa300','E7C45D','F4E3B2','3C2A00','7F5A00','c88e00'],
    ];
  #table._text-center._uppercase
    - var r = 0
    while r < bgs.length
      - var cols = bgs[r].length
      .grid(style=`grid-template-columns: repeat(${cols}, 1fr);`)
        - var c = 0;
        while c < cols
          - var bg = bgs[r][c]
          - var tc = tcs[r][c]
          .i(style=`background:#${bg};color:#${tc};`): .c(style=`border:1px solid #${tc}`) #[b #{tc}]#[br]#{bg}
          - c++
        //- while
      //- grid
      - var bggClass = `bgg-${r}`
      style
        .
          .#{bggClass} {
            margin:0 auto;
            height: 30px;
          }
          .#{bggClass} .gc {
            height:100%;
            background:
            linear-gradient(to right, #000000, ##{bgs[r][2]} 50%, ##{bgs[r][3]} 50%, #ffffff);
          }
        //- 

      div(class=bggClass): .gc: .gridlines

      - r++


block main

  main#_main
    article(style="overflow-x:scroll")
      .section
        +table(7)
      .section

        div(style="height:1rem")
        div: +img(homeUrl+"/images/grayscale.svg","grayscale.svg","Gray Scale")(style="width:100%")
        .bg0: .gridlines

        style.
          .cg {
            margin:0 auto;
            height: 250px;
            background:
            linear-gradient(to right, #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000);
          }
        div(style="height:1rem")
        .cg: .bg1: .gridlines
        div: +img(homeUrl+"/images/colorscale.svg","colorscale.svg","Color Scale")(style="width:100%")
        .cg: .bg2: .gridlines

    p: hr

    footer#_footer
      p._text-centerx &copy; Copyright