extends ../_templates/demo

block append vars
  include _demo-vars
  -
    header      = `Colors`
    title       = `${header} | ${name}`
    description = `These color page are made for your reference.`
    url         = url+`/texts.html`

    og_title       = title
    og_description = description
    og_url         = url
  //- 

block append style
  //-   |  |
  //- 01234567
  //- fedcba98
  //-   |  |
  style.
    #_header { max-width:960px }
    #_header,
    #_main { margin:0 auto; padding:0 1rem; }

    .line { border-top:1px solid #808080 }

    .gridlines {
      padding-top: 1px;
      height:100%;
      background-image: url('data:image/svg+xml;utf8,<svg width="10" height="10" xmlns="http://www.w3.org/2000/svg"><rect width="9" height="9" fill="none" stroke="none" /><line x1="10" y1="0" x2="10" y2="10" stroke="%23ddd" stroke-width="1" /><line x1="0" y1="10" x2="10" y2="10" stroke="%23ddd" stroke-width="1" /></svg>');
      background-repeat: repeat;
      background-position: 1px 1px;
    }
    ._dark 
    .gridlines {
      background-image: url('data:image/svg+xml;utf8,<svg width="10" height="10" xmlns="http://www.w3.org/2000/svg"><rect width="9" height="9" fill="none" stroke="none" /><line x1="10" y1="0" x2="10" y2="10" stroke="%23222" stroke-width="1" /><line x1="0" y1="10" x2="10" y2="10" stroke="%23222" stroke-width="1" /></svg>');
    }

    #_main .section { width:960px;padding: 1em 0; }

  //- 

mixin tables
  style.
    #table .i { padding: .5rem 1rem; }
    #table .c { font-size: .8em; border-radius: .5rem }
  #table._text-center._uppercase
    - var r = 0
    while r < bgs.length
      ._mv: +table(r++)

block append vars
  -
    //-   |  |
    //- 01234567
    //- fedcba98
    //-   |  |
    var bgs = [
      ['111111','222222','333333','cccccc','dddddd','eeeeee'],
      ['222222','6A1E1E','a83030','ec5e5e','F39999','dddddd'],
      ['222222','8D570A','D38610','EFA32D','F4BA6C','dddddd'],
      ['222222','174F1E','247c2f','42a14e','84C28B','dddddd'],
      ['222222','0F335E','174f93','3782dc','7CADE8','dddddd'],
    ];
    var tcs = [
      ['444444','888888','dddddd','222222','888888','bbbbbb'],
      ['ec5e5e','F39999','F9CBCB','330F0F','6A1E1E','a83030'],
      ['EFA32D','F4BA6C','F8D6A8','492D05','8D570A','D38610'],
      ['42a14e','84C28B','C2E1C6','0B260F','174F1E','247c2f'],
      ['3782dc','7CADE8','BED7F4','07192F','0F335E','174f93'],
    ];

mixin table(r)
  - var cols = bgs[r].length

  .grid(style=`display:grid;grid-template-columns: repeat(${cols}, 1fr);`)
    - var c = 0;
    while c < cols
      - var bg = bgs[r][c]
      - var tc = tcs[r][c]
      .i(style=`background:#${bg};color:#${tc};`): .c(style=`border:1px solid #${tc}`) #[b #{tc}]#[br]#{bg}
      - c++
    //- while
  //- grid

  - var bgc          = `bgc-${r}`
  style
    .
      .#{bgc} {
        margin:0 auto;
        height: 10px;
      }
      .#{bgc} .gc {
        height:100%;
        background:
        linear-gradient(to right
          , #000
          , ##{bgs[r][1]} 15%
          , ##{bgs[r][2]} 50%
          , ##{bgs[r][3]} 50%
          , ##{bgs[r][4]} 85%
          , #fff
        );
      }
  //- 
  - var bgx          = `bgx-${r}`
  - var saturation   = (255).toString(16)
  style
    .
      .#{bgx} {
        margin:0 auto;
        height: 10px;
      }
      .#{bgx} .gc {
        height:100%;
        background:
        linear-gradient(to right
          , #222222#{saturation}
          , #22222200 50%
          , #dddddd00 50%
          , #dddddd#{saturation}
        ),
        linear-gradient(to right
          , ##{bgs[r][2]} 50%
          , ##{bgs[r][3]} 50%
        );
      }
  //- 
  div(class=bgc): .gc: .gridlines
  div(class=bgx): .gc: .gridlines


block main

  main#_main
    article(style="overflow-x:scroll")
      .section
        +tables
      .section
        style
          .
            .bg0 {
              height:10px;
              background:
              linear-gradient(to right
                , #000
                , #fff
              );
            }
        div: +img(homeUrl+"images/grayscale.svg","grayscale.svg","Gray Scale")(style="width:100%")
        .bg0: .gridlines

        div(style="height:1rem")

        style
          - var darkness          = '20'
          - var lightness         = '20'
          .
            .cg {
              display:block;
              height: 960px;
              background:
              linear-gradient(to right
                , #000000ff
                , #000000#{darkness} 50%
                , #ffffff#{lightness} 50%
                , #ffffffff
              ),
              linear-gradient(to bottom
                , #ff0000
                , #ff8000
                , #ffff00
                , #80ff00
                , #00ff00
                , #00ff80
                , #00ffff
                , #0080ff
                , #0000ff
                , #8000ff
                , #ff00ff
                , #ff0080
                , #ff0000
              );
            }
        ._relative
          .cg: .gridlines
          ._absolute(style="left:50%;margin-left:-15px;")
            +img(homeUrl+"images/colorscale-v.svg","colorscale-v.svg","Color Scale")

    p: hr

    footer#_footer
      p._text-centerx !{copyright}