extends ../pugs/html

block append vars
  include _vars
  - heading = `Ace Template`
  - about   = `A solid foundation to build your website and application. Our minimalistic approach ensures full control from the very beginning.`
  +updateTitle( heading )

//- block pre
  +preData

block append style
  +cssv(assetsUrl+'css/demo.css')
  style.
    #_html { min-width:320px }

    #_footer ._footer_layout,
    #_main ._main_layout   { padding: 1em; }
    #_header ._header_layout { padding: 2rem 1rem 2rem; }

    #_header { padding: 1px 0; }

    #_header    { color: #333; background: #ccc; }
    #_header h1 { color: #000; }

    ._dark #_header    { color: #aaa; background: #111; }
    ._dark #_header h1 { color: #fff; }

    #_html .pages ul { list-style-type: none; padding-inline-start: 0; }

    #_header .intro { max-width: 30em; }

    @media (min-width: 530px) {

      #_footer ._footer_layout,
      #_main ._main_layout   { padding: 0 3rem; }
      #_header ._header_layout { padding: 2rem 3rem 3rem; }

    }

block header
  +header#_header
    .intro
      h1._hero-1 !{heading}
      p._smaller by #[+a(authorUrl) !{author}]
      p._text-justify !{about}

block main
  +main#_main: article

    include demo/_nav

    section._mv._nav-color: +menu

    section._mv-2
      h2 Live Examples

      mixin la_example_1(ref='')
        +la("/ace/example_1/"+ref).a: block

      nav.pages: ._flex
        ._f-12-2
          ul._no-margin
            +la_example_1('index.html')| Example #1

    section._mv-2
      h2 Basic Templates

      mixin la_template(ref='')
        +la(templateUrl+ref).a: block

      nav.pages
        ._flex
          ._f-12-4
            ul._no-margin
              +la_template('full_screen.html')| Full Screen
              +la_template('split_screen.html')| Split Screen
              +la_template('flex_gallery.html')| Flex Gallery
          ._f-12-4
            ul._no-margin
              +la_template('classic_page.html')| Classic Page
              +la_template('classic_list.html')| Classic List
              //- +la_template('blank.html')| Blank Template
        ._flex
          ._f-12-4
            ul._no-margin: li
              span.a Error pages:
              +_a("---","Simulate Real 404").a: +middots
              +_a("404.html").a| 404
              +_a("500.html").a| 500
              +_a("closed.html").a| Closed
          ._f-12-4
            ul._no-margin
              li: +_a("blank.html").a| Blank Page

    section._mv-2
      h2 Available in light and dark

      p._text-justify Our template is readily available for both light and dark color-scheme. You can easily switch between the two by using the keyboard shortcut #[code._code._no-wrap='Ctrl + Alt + T'] or execute #[code._code._no-wrap=js.themeChange] with a button like this one:

      p: +changeThemeLink._btnlink._small Change Theme

    section._mv-2
      h2 Pre-made building components

      p._text-justify Our web template is equipped with pre-made building components and helper classes to give you an easy building experience. We simplify web creation to make it accessible to everyone, even for those who may not have technical expertise. No lengthy manuals or confusing rules -- just dive in and start building. We have also prepared some #[+a("demo")._no-wrap demo articles] to help you out.

      //- ._mv._nav-color: +menu

    hr

    p._smaller| Some images on this website are courtesy of Matt at <a href="https://www.svgbackgrounds.com/set/free-svg-backgrounds-and-patterns/">svgbackgrounds.com</a>. Thank you for providing them for free.

    ._p._smaller
      | Version : #{version} &mdash; #{build} &mdash;  
      | Live @ #[+a(url)(target="techie-joes-github") #{url}]

block footer
  +footer#_footer
    hr
    p !{copyright}
