extends _html

block append vars
  - heading = `Ace Template`
  - about   = `A solid foundation to build upon your website and application. Our simple approach lets you build with confidence.`
  - updateTitle( heading )

block append style
  +cssv(assetsUrl+'css/style.css')
  style.
    #_header ._header_layout { padding: 2rem 3rem; }
    @media (max-width: 530px) {
    #_header ._header_layout { padding: 3rem 1rem 2rem; }
    }

    #_header ._header_layout { position:relative }
    #_header ._header_layout:before {
      content: 'A';
      font-family: serif;
      font-weight: bold;
      font-size: 40rem;
      display: block;
      line-height: 0.7;
      position: absolute;
      top: -55%;
      right: 4%;
      opacity: 0.1;
      user-select: none;
    }
    #_main,
    #intro { position:relative; z-index:1 }

    #intro { max-width: 28em; }

    #intro ._hero_1 span { line-height:1 }

    #topi { position: absolute; top: 3.3rem; right: 5rem; }
    #topi ._isvg { height: 2.5em; min-width: 2.5em; }
    @media (max-width: 530px) {
    #topi { top: 1rem; right: 1rem; }
    #topi ._isvg { height: 1.5em; min-width: 1.5em; }
    }
    #topi ._nav_item { padding:.5em }

    html   #_header { background: #ccc; }
    ._dark #_header { background: #111; }

    html   #_header h1 { color: #000; }
    ._dark #_header h1 { color: #fff; }

    #_html .pages ul { list-style-type: none; padding-inline-start: 0; }

block header
  +header#_header
    #intro
      h1._hero_1 #[span.t1 Ace] #[span.t2._tc_primary Template]
      p._smaller by #[+a(authorUrl)(target="page_author")._stay_fresh !{author}]
      p._text_justify !{about}
    #topi
      +changeThemeLink._nav_item._nav_icon._hover_scale: +isvg(svgi.compare)

block main
  +main#_main: article

    include demo/_nav

    section._mv_2

      p._text_justify This template is equipped with #[b._h7 pre-made building components] and #[b._h7 helper classes] to give you an easy building experience. We have simplified web creation to make it accessible to everyone, even for those who may not have technical expertise. Dive in and start building your website straight away.

      ._mv._nav_color._radius_x5r: +nav#_nav
        b._nav_label| Template Components : &nbsp;
        +menu

      hr

    section._mv_2
      h2 Examples

      mixin lia_example_1(ref='')
        +lia("/ace/example_1/"+ref)._nav_item: block

      nav.pages: ._flex
        ._f_12_2
          ul._no_margin
            +lia_example_1()| Example #1 - Simple Home

    section._mv_2
      h2 Basic Templates

      mixin lia_template(ref='')
        +lia(templateUrl+ref)._nav_item: block

      nav.pages
        ._flex
          ._f_12_4
            ul._no_margin
              +lia_template('full_screen.html')| Full Screen
              +lia_template('split_screen.html')| Split Screen
              +lia_template('flex_gallery.html')| Flex Gallery
          ._f_12_4
            ul._no_margin
              +lia_template('classic_page.html')| Classic Page
              +lia_template('classic_list.html')| Classic List
              +lia_template("blank.html")| Blank Page
          ._f_12_4
            ul._no_margin
              li
                +a("404.html","When browser lands on a missing page.")._nav_item| 404 -- Not found
                +_a("---","Simulate Real 404")._nav_item._nav_icon: +middots
              +lia("500.html","When server encounters an error.")._nav_item| 500 -- Oops!
              +lia("closed.html","When you decide to temporarily disable your website.")._nav_item| Temporary closed
        //- ._flex
          ._f_12_4
            ul._no_margin
              +lia('blank.html')._nav_item| Bare Blank Page

    section._mv_2
      h2 Available in light and dark

      p._text_justify Our template is readily available in both light and dark preference. You can easily switch between the two by using the keyboard shortcut #[code._code._no_wrap='Ctrl + Alt + T'] or programatically execute #[code._code._no_wrap='base.theme.change()'] with a button.

      p: +changeThemeLink._btnlink._small #[+isvg(svgi.compare)] #[i._btnpad] #[span._btnlabel Change Theme ] #[i._btnpad]

    hr

block footer
  +footer#_footer
    ._pa._nav_color._radius_x5r

      p._small._mono._m0
        +a(url)._nav_item._b|LIVE
        ||
        +a(localUrl)._nav_item._b|LOCAL
        ||
        +a(sourceUrl)(target="page_source")._nav_item._b|SOURCE

      p._smaller._mono| Version: #{version} - #[span._no_wrap b#{build}]

      div._p._smaller._mb0
        div
          | Images on this demo site came from several eligible sources.
          | Some images are #[b._tc_contra NOT INCLUDED] in the distributed packages.
        ul._no_margin._no_spad
          li Special thanks to Matt at <a href="https://www.svgbackgrounds.com/set/free-svg-backgrounds-and-patterns/">svgbackgrounds.com</a>. For providing free SVG images.

    //- _pa
    hr
    p !{copyright}
