extends _html

block append vars
  - heading = `Ace Template`
  - about   = `A solid foundation to build your website and application. By using our simple approach, you'll get full control from the very beginning.`
  - updateTitle( heading )

block append style
  +cssv(assetsUrl+'css/demo.css')
  style.
    #_html { min-width:320px }

    #_footer ._footer_layout,
    #_main ._main_layout   { padding: 1em; }
    #_header ._header_layout { padding: 2rem 1rem 2rem; }

    @media (min-width: 530px) {

      #_footer ._footer_layout,
      #_main ._main_layout   { padding: 0 3rem; }
      #_header ._header_layout { padding: 2rem 3rem 3rem; }

    }

    #_header { padding: 1px 0; }

    #_header    { color: #333; background: #ccc; }
    #_header h1 { color: #000; }

    ._dark #_header    { color: #aaa; background: #111; }
    ._dark #_header h1 { color: #fff; }

    #_html .pages ul { list-style-type: none; padding-inline-start: 0; }

    #_header .intro { max-width: 30em; }

block header
  +header#_header
    .intro
      h1._hero-1 !{heading}
      p._smaller by #[+a(authorUrl) !{author}]
      p._text-justify !{about}

block main
  +main#_main: article

    include _demo/_nav

    section._mv-2

      p._text-justify This web template is equipped with #[b._h7 pre-made building components] and #[b._h7 helper classes] to give you an easy building experience. We have simplified web creation to make it accessible to everyone, even for those who may not have technical expertise. Dive in and start building your website straight away.

      ._mv._nav-color: +nav#_nav
        b| Template Components : &nbsp;
        +menu

    section._mv-2
      h2 Examples

      mixin lia_example_1(ref='')
        +lia("/ace/example_1/"+ref)._nav-item: block

      nav.pages: ._flex
        ._f-12-2
          ul._no-margin
            +lia_example_1('index.html')| Example #1

    section._mv-2
      h2 Basic Templates

      mixin lia_templateX(ref='')
        +lia(templateUrlX+ref)._nav-item: block

      mixin lia_template(ref='')
        +lia(templateUrl+ref)._nav-item: block

      nav.pages
        ._flex
          ._f-12-4
            ul._no-margin
              +lia_templateX('full_screen.html')| Full Screen
              +lia_templateX('split_screen.html')| Split Screen
              +lia_templateX('flex_gallery.html')| Flex Gallery
          ._f-12-4
            ul._no-margin
              +lia_templateX('classic_page.html')| Classic Page
              +lia_templateX('classic_list.html')| Classic List
              +lia("blank.html","Just a blank page to start building.")._nav-item| Blank Page
          ._f-12-4
            ul._no-margin
              li
                +a("404.html","When browser lands on a missing page.")._nav-item| 404 -- Not found
                +_a("---","Simulate Real 404")._nav-item._nav-icon: +middots
              +lia("500.html","When server encounters an error.")._nav-item| 500 -- Oops!
              +lia("closed.html","When you decide to temporarily disable your website.")._nav-item| Temporary closed

    section._mv-2
      h2 Available in light and dark

      p._text-justify Our template is readily available on both light and dark preference. User can easily switch between the two by using the keyboard shortcut #[code._code._no-wrap='Ctrl + Alt + T'] or you can programatically execute #[code._code._no-wrap=js.themeChange] with a button like this one:

      p: +changeThemeLink._btnlink._small Change Theme

    hr

    p._smaller| Some images on this website are courtesy of Matt at <a href="https://www.svgbackgrounds.com/set/free-svg-backgrounds-and-patterns/">svgbackgrounds.com</a>. Thank you for providing them for free.

    p._smaller| Version : v#{version} | b#{build}

    p._smaller
      - source_url = 'https://github.com/techie-joe/ace'
      | Live @ #[+a(url)(target="techie-joes-github") #{url}]#[br]
      | Source @ #[+a(source_url)(target="techie-joes-github") #{source_url}]

block footer
  +footer#_footer
    hr
    p !{copyright}
