extends _text

block main
  .
    Copyright (c) #{thisYear} -- !{publisher}
    #{''}
    SOFTWARE : !{title} - v!{version}
    AUTHOR   : Developed and owned by !{author}
    #{''}
    LICENSE AGREEMENT for !{title}
    #{''}
  include ../pugs/_LICENSE.txt