//- ==============================================================
//- README for Ace Template
//- ==============================================================
extends _text

block main
  .
    # !{title}
    > !{description}
    ---
    
    Title    : !{title}  
    Version  : #{version}  
    Build    : #{build}  
    Author   : !{author}  

    WEBSITE  : #{siteUrl}  

    SOURCE   : #{sourceUrl}  

    AUTHOR   : #{authorUrl}  

    ---

    Copyright (c) #{thisYear} !{publisher}