extends ../_templates/text

block append vars
  include _vars
 
block main
  .
    # !{title}
    > !{description}
    ---
    
    Project  : !{name}  
    Codename : #{shortName} - v#{version}  
    Author   : !{author}  

    URL      : #{url}  

    ---

    Copyright (c) #{thisYear} !{publisher}