extends ../pugs/text

block append vars
  include ../_BUILDER_vars

block main
  .
    # !{title}
    > !{description}
    ---
    
    Title    : !{title}  
    Version  : #{version}  
    Build    : #{build}  
    Author   : !{author}  

    URL      : #{url}  

    ---

    Copyright (c) #{thisYear} -- !{publisher}