//- ==============================================================
//- README for Ace Builder
//- ==============================================================
include ../core_2/_vars
include _vars_2
.
  # !{title}
  > !{description}
  ------------------------------------------------------------------
  
  Title     : !{title}  
  Version   : #{version}  
  Build     : #{build}  
  Author    : !{author}  
  Publisher : !{publisher}  

  BUILDER   : #{builderUrl}  

  WEBSITE   : #{siteUrl}  

  AUTHOR    : #{authorUrl}  

  ------------------------------------------------------------------

  Copyright (c) #{thisYear} - !{author}