extends _text

block main
  .
    # !{title}
    > !{description}
    ---
    
    Title    : !{title}  
    Version  : v#{version}  
    Build    : b#{build}  
    Author   : !{author}  

    URL      : #{url}  

    ---

    Copyright (c) #{thisYear} !{publisher}