//- ==============================================================
//- README for Ace Builder
//- ==============================================================
extends ../core/_text

block append vars
  include _vars

block main
  .
    # !{title}
    > !{description}
    ------------------------------------------------------------------
    
    Title    : !{title}  
    Version  : #{version}  
    Build    : #{build}  
    Author   : !{author}  

    BUILDER_URL  : #{builderUrl}  

    AUTHOR_URL   : #{authorUrl}  

    ------------------------------------------------------------------

    Copyright (c) #{thisYear} -- !{author}